.form_campign_data{
    .task-progress-main{
        display: flex;
        flex-direction: column;
        background: #252F5A !important;
        color: #fff !important;
        padding: 0.8rem;
        border-radius: 10px;
        box-shadow: 0 0 8px rgb(0 0 0 / 18%), 0 8px 16px rgb(0 0 0 / 36%);
        .answers_label{
            font-size: 1rem;
            color: #fff;
        }
        .answers_label_count{
            background: #070b28;
            color: #74f695;
            min-width: 1.5rem;
            height: 1.5rem;
            padding: 0.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.3rem;
            margin-right: 0.6rem;
            line-height: normal;
            font-weight: bold;
        }
    }
}