<div class="container">
  <div class="row my-4 align-items-center header_withbtn">
    <h1 class="section-head mb-0 col-12 col-sm-12 col-md-6 col-lg-6 mb-2"> {{ 'userRewards.twitchStreamers' | translate
      }}</h1>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 offset-xl-1 col-xl-5 mb-2">
      <div class="searchbar background-primary text-center">
        <div class="searchbar-text">
          <input type="text" placeholder="Search for your favourite streamer..." class="input-serch"
            (keyup)="searchStreamer()" [(ngModel)]="search" />
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <!-- <button class="btn btn-green">{{ 'userRewards.search' | translate }}</button> -->
      </div>
    </div>
  </div>


  <div class="row">
    <div *ngIf="errorMessage" class="mb-2 mt-2 f-16 heading-white text-center">
      {{ errorMessage }}
    </div>
  </div>
  <div class="row row-cols-xl-5">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col mb-4" *ngFor="let streamer of streamersData">
      <div class="background-primary text-center w-100 br-10 h-100 task_item"
        [ngClass]="{'discounted_item': streamer.coins < streamer.standard_coins}">
        <div>
          <div class="user-imagemain">
            <div class="user-image ">
              <img [src]="streamer.profile_image_url" onerror="this.src='/assets/images/img_avatar.png'"
                alt="/assets/images/img_avatar.png" class="user-image">
            </div>
          </div>
          <h5>{{ streamer.display_name }}</h5>
          <div [ngClass]="{'twitch_detail': streamer.discounted_coins==0 && streamer.standard_coins}">
            <h5 class="down_line">{{ this.utilityService.nFormatter(streamer.view_count,1) }} views</h5>
            <del *ngIf="streamer.coins < streamer.standard_coins">
              <h5>{{ streamer.standard_coins }} coins</h5>
            </del>
            <h5 *ngIf="streamer.discounted_coins === 0 && streamer.coins == streamer.standard_coins"><span>{{
                streamer.coins }} coins</span></h5>
            <div class="discounted_price">
              <h5 *ngIf="streamer.discounted_coins === 0 && streamer.coins < streamer.standard_coins"><span>{{
                  streamer.coins }} coins</span></h5>
              <h5 *ngIf="streamer.discounted_coins>0"><span>{{ streamer.discounted_coins }} coins</span></h5>
            </div>
          </div>
          <button type="button" class="btn-outline mb-4" (click)="triggerModal(modalData, streamer)">{{
            'userRewards.subscribeNow' | translate }} </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <button class="btn btn-green btn-task mb-3" *ngIf="!showLoadMorePromotedButton && !errorMessage"
        [ngClass]="paginationCursor ? '' : 'hide'" (click)="loadMoreSearchStreamer(paginationCursor)">{{
        'userRewards.loadMore' | translate }}</button>
      <button class="btn btn-green btn-task mb-3" *ngIf="showLoadMorePromotedButton && !errorMessage"
        [ngClass]="showLoadMorePromotedButton ? '' : 'hide'" (click)="getPromotedStreamersList()">{{
        'userRewards.loadMorePromoted' | translate }}</button>
    </div>
    <div class="col-sm-12 text-center m-3">
      <label class="bottomText text-white text-strong">{{ 'userRewards.cantFindStreamerText' | translate }}</label>
    </div>
  </div>

</div>
<ng-template #modalData let-modal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <button type="button" class="close without_head" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    <div class="row">
      <div class="col-md-12 f-20 text-center mb-4">
        <h5 class="heading-green without_title">{{ 'userRewards.twitchChannelSubscription' | translate }}</h5>
      </div>
      <div class="user-info col-md-12">
        <div class="row">
          <div class="user-info-left text-center col-md-6">
            <div class="user-imagemain">
              <div class="user-image ">
                <img [src]="modalContent.profile_image_url" onerror="this.src='/assets/images/img_avatar.png'"
                  alt="/assets/images/img_avatar.png" class="user-image">
              </div>
            </div>
            <h5>{{ modalContent.display_name }}</h5>
            <h5>{{ modalContent.view_count }} views</h5>
            <h5 *ngIf="modalContent.discounted_coins === 0">{{ modalContent.coins }} coins</h5>
            <h5 *ngIf="modalContent.discounted_coins>0">{{ modalContent.discounted_coins }} coins</h5>

          </div>
          <div class="user-info-right text-center col-md-6">
            <div class="user-imagemain">
              <div class="user-image ">
                <img
                  [src]="profileData?.profile_image_url ? profileData.profile_image_url : '/assets/images/img_avatar.png'"
                  alt="User profile" class="user-image">
              </div>
            </div>
            <div class="info">
              <div class="div-twitchId">
                <label class="form-label mb-1 text-white">{{ 'userRewards.whatAccountTxt' | translate }} </label>
                <input type="text" class="ps-2 text-white txt-twichId form-control"
                  placeholder="{{ 'userRewards.personalTwitchId' | translate }}" (keyup)="searchUserProfileInfo()"
                  [(ngModel)]="keyword" />
                <i *ngIf="profileData?.display_name" class="fa fa-check" aria-hidden="true"></i>
              </div>
              <h6 class="my-2">{{ profileData?.display_name }}</h6>
              <h6 class="my-2 errorMsg" *ngIf="!profileData?.display_name  && profileData">{{
                'userRewards.pleaseValidateTwitchText' | translate }}</h6>
              <h6 class="mb-3">{{ 'userRewards.availableCoins' | translate }} : {{ totalCoins }}</h6>
              <!-- <button type="button" class="btn btn-green" [ngClass]="profileData?.display_name ? '' : 'disabled'" (click)="twitchSubscription(modalContent.id)">{{ 'userRewards.subscribe' | translate }} </button> -->

              <button type="button" class="btn btn-green" [ngClass]="profileData?.display_name ? '' : 'disabled'"
                (click)="openConfirmModel(confirm, modalDataConfirmMobile)">{{ 'userRewards.subscribe' | translate
                }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #confirm let-modal>
  <div class="modal-header head_with_name">
    <h5 class="modal-title" id="modal-basic-title">{{ 'userRewards.twitchConfirmTitle1' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0">
    <form>
      <div class="row">
        <div class="col-md-12">
          <div>
            <h6 class="my-4 heading-white ">{{ 'userRewards.confirmTwitchTitle' | translate }} </h6>
          </div>
          <div class="form-group m-0">
            <label class="heading-white mt-3"><span class="bold">{{ 'userRewards.twitchId' | translate }} :</span>
              &nbsp;<span class="">{{ profileData?.display_name }}</span></label>

          </div>
          <div class="details mt-4">
            <div class="details-left">
              <h5 class="heading-green">{{ 'userRewards.checkout' | translate }}</h5>
              <h5 class="line-main">{{ 'userRewards.twitchSubscriptionto' | translate }} :<span>{{
                  modalContent.display_name }} ({{ 'shared.1month' | translate }})</span></h5>
              <!-- <h5 class="text-right bold mt-5">{{ 'userRewards.totalAmount' | translate }}</h5> -->
            </div>
            <div class="details-right">
              <h5 class="heading-green">{{ 'userRewards.total' | translate }}</h5>
              <h5 *ngIf="modalContent.discounted_coins === 0">{{ modalContent.coins }} coins</h5>
              <h5 *ngIf="modalContent.discounted_coins>0">{{ modalContent.discounted_coins }} coins</h5>
            </div>
          </div>
          <h6 class="heading-white mt-4 mb-5">{{ 'userRewards.availableBalanceCondition' | translate }}
            <span>{{this.totalAvailableTwitchCoins}}</span>&nbsp;{{ 'userRewards.coins' | translate }}
          </h6>
          <div class="terms">
            <p class="mt-4 heading-white text mb-0">
              {{ 'userRewards.condition1Twitch' | translate }}
            </p>
            <p class="heading-white text">
              {{ 'userRewards.condition2Twitch' | translate }}
              <a (click)="goToPrivacy('legalNote')">{{ 'userRewards.legalNote' | translate }}</a>
            </p>
          </div>
          <div class="d-flex justify-content-center mt-4">
            <!-- <button type="button" class="btn btn-green me-3" (click)="twitchSubscription(modalContent.id)">{{
              'shared.confirm' | translate }}</button> -->
            <button type="button" class="btn btn-green me-3" (click)="triggerTwitchContentModal(twitchContent)">{{
              'shared.confirm' | translate }}</button>
            <button type="button" class="btn-outline" (click)="modal.close('Cross click')">{{ 'shared.cancel' |
              translate }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #modalDataConfirmMobile let-modal let-c="close" let-d="dismiss">
  <div class="modal-body p-0">
    <button type="button" class="close without_head" aria-label="Close" (click)="modal.dismiss('Cross click')"
      style="top: -0.5rem;">
      <span aria-hidden="true">×</span>
    </button>
    <form [formGroup]="userPhoneVerificationForm">
      <div class="row">
        <div class="col-md-12 f-20 text-center mb-3">
          <h5 class="heading-green without_title mb-0">{{ 'shared.weNeedYourPhone' | translate }}</h5>
        </div>
        <div class="col-md-12 text-center">
          <p class="mb-4 pb-2">{{ 'shared.OopsSecurityText' | translate }}</p>
          <div class="row">
            <div class="col-4 col-sm-3 col-md-3 pe-0">
              <div class="form-group">
                <label class="lbl-input">{{ 'shared.countryCode' | translate }}</label>
                <angular2-multiselect *ngIf="countriesDialingCodes" [data]="countriesDialingCodes"
                  [settings]="countriesDialingCodesSettings" formControlName="selectedCountryDialingCode">
                </angular2-multiselect>
                <div
                  *ngIf="userPhoneVerificationForm.controls['selectedCountryDialingCode'].errors && (userPhoneVerificationForm.controls['selectedCountryDialingCode'].dirty || userPhoneVerificationForm.controls['selectedCountryDialingCode'].touched) || submittedPhone">
                  <div *ngIf="userPhoneVerificationForm.controls['selectedCountryDialingCode'].errors?.required"
                    class="text-danger"> {{ 'shared.countryCodeRequired' | translate }} </div>
                </div>
              </div>
            </div>
            <div class="col-8 col-sm-9 col-md-9">
              <div class="form-group">
                <label class="lbl-input">{{ 'shared.phoneNumber' | translate }}</label>
                <input type="text" maxlength="15" formControlName="phone" class="form-control"
                  (keypress)="utilityService.phoneNumberValidation($event)"
                  placeholder="{{ 'shared.phoneNumber' | translate }}">
                <div
                  *ngIf="userPhoneVerificationForm.controls['phone'].errors && (userPhoneVerificationForm.controls['phone'].dirty || userPhoneVerificationForm.controls['phone'].touched) || submittedPhone">
                  <div *ngIf="userPhoneVerificationForm.controls['phone'].errors?.required"
                    class="text-danger text-start">{{ 'shared.phoneNumberRequired' | translate }}</div>
                  <div *ngIf="userPhoneVerificationForm.controls['phone'].errors?.minlength"
                    class="text-danger text-start">{{ 'shared.phoneMinLength' | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center task_btn">
          <button class="btn btn-green btn-task ms-3" (click)="sendVerificationCode(content)">{{ 'shared.confirm' |
            translate }}</button>
          <button class="btn btn-green btn-task ms-3" (click)="cancel()">{{ 'shared.cancel' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #content let-modal>
  <div class="modal-header head_with_name">
    <h5 class="modal-title" id="modal-basic-title">{{ 'shared.phoneNoVerification' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0">
    <!-- <form [formGroup]="userPhoneCodeVerificationForm"> -->
    <div class="row">
      <div class="col-md-12 px-0">
        <div class="m-3">
          <p class="my-4 heading-white text">{{ 'shared.forSecurityText' | translate }} </p>
          <h5>{{ 'shared.yourPhone' | translate }}: {{ phoneNumber }}</h5>
        </div>
        <div class="form-group m-0 verification_input">
          <label class="lbl-popup-input mb-2">{{ 'shared.pleaseEnterYourVerificationCode' | translate }}<span
              class="text-danger error-msg">*</span></label>
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
          <div [ngClass]="{'hide': !showOtpRequiredText }">
            <div class="text-danger">{{ 'shared.verificationCodeRequired' | translate }}</div>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column mt-3">
          <button type="button" class="btn btn-green" [ngClass]="{'disabled': !isVerifyButtonEnable }"
            (click)="verifyCode(modalData)">{{ 'shared.verify' | translate }}</button><br>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #twitchContent let-modal>
  <div class="modal-header head_with_name">
    <h5 class="modal-title" id="modal-basic-title">{{ 'shared.twitchConfirmation' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0">
    <div class="row">
      <div class="col-md-12 px-0">
        <div class="m-3">
          <span class="text-white mb-3 d-inline-block">{{ 'shared.attentionTwitchText' | translate }} {{
            modalContent.display_name }} {{
            'shared.theReceiverText' | translate }}{{
            profileData?.display_name }}</span>
          <span class="text-white d-inline-block">{{ 'shared.rememberTwitchText' | translate }}</span>
          <h5 class="text-success text-center my-3 w-100">{{ 'shared.doYouWantText' | translate }}</h5>
        </div>
        <div class="d-flex justify-content-center task_btn">
          <button type="button" class="btn btn-green me-3" (click)="twitchSubscription(modalContent.id)">{{
            'shared.confirm' | translate }}</button>
          <button type="button" class="btn-outline" aria-label="Close" (click)="modal.dismiss('Cross click')">{{
            'shared.cancel' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>