:ng-deep {
  body {
    background: #0d1d2a;
  }
}

.retodrop {
  background: #181f39;

  .retodrop_main {
    background: url(/assets/images/how_it_bg_02.png) no-repeat center right /auto 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10rem 0;
    .retodrop_main_info {
      position: relative;
      h1 {
        font-size: 5.8rem;
        font-weight: 500;
        color: #fff;
        text-align: center;
        line-height: normal;
        padding: 2rem 0;
        margin: 0;
      }
      p {
        color: #73acca;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
        width: 60rem;
        margin: 0 auto;
        line-height: normal;
      }

      span {
        font-weight: 500;
        font-size: 2rem;
      }

      .rocket_img {
        // -webkit-animation: flight 4s linear infinite forwards;
        // animation: flight 4s linear infinite forwards;
        position: absolute;

        .rocket_main {
          width: 8rem;
        }

        .rocket_flam {
          position: absolute;
          left: -43px;
          bottom: -70px;
          -webkit-text-stroke: 2px #000;
          // animation: animateRocket 0.2s linear infinite;
          width: 6rem;
        }
      }
    }
  }

  .retodrop_progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    h3 {
      font-size: 2.5rem;
      color: #fff;
      font-weight: 500;
      margin: 0 0 1rem;
    }
    h2 {
      font-size: 4rem;
      color: #fff;
      font-weight: 600;
    }

    .progress {
      width: 40rem;
      height: 3rem;
      border-radius: 25px;
      background-color: #1e445e;
      border: 1px solid #8dd3f6;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .progress-bar {
        width: 13rem;
        background-color: #8dd3f6;
        text-align: left;
        padding: 1rem;
        font-size: 1.6rem;
      }

      span {
        color: #fff;
        font-size: 1.6rem;
        padding-right: 2rem;
      }
    }

    .progress_text {
      p {
        color: #fff;
        font-size: 1.2rem;
        margin: 0;
      }
    }

    &::after {
      content: "";
      height: 1.6rem;
      width: 80%;
      position: absolute;
      left: 0;
      bottom: 0;
      background: rgb(102, 204, 204);
      background: linear-gradient(90deg, #6bc0d6 0%, rgba(37, 129, 196, 0) 100%);
    }
  }

  .retodrop_Table {
    h2 {
      color: #fff;
      font-size: 3.5rem;
      font-weight: 500;
      text-shadow: 0rem 0.3rem 0 #7bcde1;
      margin: 0;
    }

    .retodrop_datatable {
      background: #6f8797;
      border-radius: 23px;
      overflow-x: auto;
      border: 1px solid #fff;

      table {
        width: 100%;
        color: #fff;
        overflow-x: auto;
        margin: 0;
        tr {
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          &:hover {
            background-color: #3f5d72;
          }

          &:first-child {
            border-top: none;
          }

          &:last-child {
            border-bottom: none;
          }

          th {
            text-align: center;
            font-size: 2rem;
          }

          td {
            padding: 0.3rem .5rem;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            font-size: 1.2rem;
            font-weight: 400;

            &:first-child {
              border-left: 0;
            }

            &:last-child {
              border-right: none;
            }

            img {
              width: 2.5rem;
            }

            span {              
              padding: 0 0 0 0.5rem;
              flex: 1;
              word-break: break-all;
            }
          }
        }
      }
    }
  }

  .retodrop_footer {
    background: url(../../../../assets/images/how_title.png)no-repeat bottom 100% center / 45%;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 1;

    p {
      color: #73acca;
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
      width: 60rem;
      margin: 0 auto;
    }

    .primera_btn {
      width: 100%;
      display: inline-block;
      text-align: center;
      margin: 1rem 0 4rem;
      button {
        background: #5abbe0;
        border-radius: 100px;
        padding: 1rem 2rem;
        font-size: 1.4rem;
        text-transform: capitalize;
        position: relative;
        box-shadow: 0.4rem 0.4rem 0rem #0e1422;
        transition: all 0.3s ease;

        &:hover,
        &:focus {
          background: darken(#5abbe0, 10%);
          border-color: darken(#5abbe0, 10%);
          color: #fff;
          box-shadow: 0rem 0rem 0rem #0e1422;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min +floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.stars {
  position: absolute;
  top: 40%;
  right: 70%;
  width: 40%;
  height: 40%;
  transform: rotate(-45deg);
}

@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

.star {
  $star-count: 40;
  --star-color: var(--primary-color);
  --star-tail-length: 5em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 15s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, #466ca3, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px #466ca3);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;

  @include sp-layout {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }

  @for $i from 1 through $star-count {
    &:nth-child(#{$i}) {
      --star-tail-length: #{random_range(500em, 750em) / 100};
      --top-offset: #{random_range(0vh, 10000vh) / 100};
      --fall-duration: #{random_range(6000, 12000s) / 1000};
      --fall-delay: #{random_range(0, 10000s) / 1000};
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, #466ca3, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {

  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes animateRocket {

  0%,
  100% {
    transform: translate(0, 0) rotate(-2deg);
  }

  50% {
    transform: translate(1px, 1px) rotate(-2deg);
  }
}

@-webkit-keyframes flight {
  0% {
    top: 0;
    left: 0px;
    opacity: 0%;
    -webkit-transform: scale(0.1) rotate(0deg);
    transform: scale(0.1) rotate(0deg);
  }

  2% {
    opacity: 0%;
  }

  20% {
    top: 220px;
    left: 230px;
    opacity: 100%;
    -webkit-transform: scale(0.4) rotate(0deg);
    transform: scale(0.4) rotate(0deg);
  }

  25% {
    top: 221px;
    left: 233px;
  }

  35% {
    top: 218px;
  }

  45% {
    top: 222px;
    left: 232px;
  }

  55% {
    top: 219px;
    left: 233px;
  }

  65% {
    top: 221px;
    left: 233px;
  }

  75% {
    top: 218px;
  }

  80% {
    top: 222px;
    left: 233px;
    opacity: 100%;
    -webkit-transform: scale(0.4) rotate(0deg);
    transform: scale(0.4) rotate(0deg);
  }

  90% {
    opacity: 0%;
  }

  100% {
    top: 0px;
    left: 500px;
    opacity: 0%;
    -webkit-transform: scale(0.3) rotate(0deg);
    transform: scale(0.3) rotate(0deg);
  }
}

@keyframes flight {
  0% {
    top: 110%;
    left: -10%;
    opacity: 0;
    transform: translateY(0%) scale(0.7) rotate(0deg);
  }

  2% {
    opacity: 0.8;
  }

  20% {
    top: 60%;
    left: 3%;
    opacity: 1;
    transform: translateY(-60%) scale(1) rotate(0deg);
  }

  25% {
    top: 55%;
    left: 6%;
  }

  35% {
    top: 50%;
    left: 9%;
  }

  45% {
    top: 45%;
    left: 12%;
  }

  55% {
    top: 40%;
    left: 15%;
  }

  65% {
    top: 35%;
    left: 18%;
  }

  75% {
    top: 30%;
    left: 21%;
  }

  85% {
    top: 25%;
    left: 24%;
    opacity: 100%;
    transform: scale(1) rotate(0deg);
  }

  90% {
    opacity: 1;
    top: 20%;
    left: 27%;
    transform: translateY(-50%) scale(1) rotate(0deg);
  }

  100% {
    top: 0%;
    left: 30%;
    opacity: 0;
    transform: translateY(-50%) scale(0.7) rotate(0deg);
  }
}

.sky_section {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: -10rem 0 0;
  padding-top: 5rem;
  z-index: 0;

  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 777px 14671px #FFF, 128px 1634px #FFF, 674px 734px #FFF, 173px 1289px #FFF, 667px 1335px #FFF, 811px 818px #FFF, 1874px 1451px #FFF, 1730px 447px #FFF, 334px 933px #FFF, 1963px 568px #FFF, 1300px 1643px #FFF, 1995px 1697px #FFF, 927px 951px #FFF, 1317px 485px #FFF, 130px 1821px #FFF, 994px 1437px #FFF, 307px 885px #FFF, 585px 1251px #FFF, 1469px 1375px #FFF, 1582px 1285px #FFF, 1020px 628px #FFF, 1779px 452px #FFF, 776px 737px #FFF, 200px 801px #FFF, 325px 950px #FFF, 584px 1816px #FFF, 1479px 682px #FFF, 1194px 435px #FFF, 213px 1568px #FFF, 1181px 1943px #FFF, 642px 1695px #FFF, 1850px 1230px #FFF, 1749px 518px #FFF, 1065px 1654px #FFF, 1158px 994px #FFF, 611px 1107px #FFF, 115px 1929px #FFF, 1339px 1788px #FFF, 1520px 751px #FFF, 1156px 435px #FFF, 800px 1490px #FFF, 1573px 950px #FFF, 558px 173px #FFF, 1375px 639px #FFF, 1419px 484px #FFF, 193px 927px #FFF, 413px 1212px #FFF, 1503px 27px #FFF, 1857px 1490px #FFF, 1939px 1480px #FFF, 930px 1613px #FFF, 237px 1988px #FFF, 862px 1921px #FFF, 614px 1694px #FFF, 473px 1633px #FFF, 504px 1990px #FFF, 567px 1411px #FFF, 1918px 706px #FFF, 1609px 585px #FFF, 641px 1528px #FFF, 926px 1822px #FFF, 1375px 839px #FFF, 1430px 457px #FFF, 412px 1039px #FFF, 1644px 610px #FFF, 683px 1967px #FFF, 472px 351px #FFF, 597px 366px #FFF, 1795px 596px #FFF, 1922px 649px #FFF, 1354px 603px #FFF, 795px 1267px #FFF, 1748px 112px #FFF, 1643px 1445px #FFF, 207px 1201px #FFF, 1243px 1140px #FFF, 1755px 1530px #FFF, 799px 124px #FFF, 373px 1642px #FFF, 1577px 980px #FFF, 121px 76px #FFF, 734px 986px #FFF, 1829px 1679px #FFF, 672px 1183px #FFF, 1117px 79px #FFF, 464px 344px #FFF, 618px 1031px #FFF, 1763px 1406px #FFF, 1970px 1353px #FFF, 685px 1848px #FFF, 1744px 76px #FFF, 673px 1276px #FFF, 1545px 1985px #FFF, 63px 253px #FFF, 1680px 1502px #FFF, 381px 789px #FFF, 878px 38px #FFF, 1677px 1069px #FFF, 1013px 210px #FFF, 971px 1119px #FFF, 923px 1191px #FFF, 1872px 1600px #FFF, 599px 657px #FFF, 1213px 1596px #FFF, 641px 425px #FFF, 1090px 1932px #FFF, 478px 782px #FFF, 1306px 1866px #FFF, 1455px 67px #FFF, 389px 1458px #FFF, 212px 513px #FFF, 917px 498px #FFF, 1535px 1444px #FFF, 1826px 7px #FFF, 995px 503px #FFF, 311px 1681px #FFF, 435px 496px #FFF, 253px 205px #FFF, 521px 1975px #FFF, 118px 312px #FFF, 465px 1379px #FFF, 1789px 1469px #FFF, 1222px 790px #FFF, 283px 1161px #FFF, 120px 285px #FFF, 489px 929px #FFF, 1742px 999px #FFF, 1005px 302px #FFF, 836px 58px #FFF, 957px 1485px #FFF, 181px 1390px #FFF, 1365px 625px #FFF, 1092px 741px #FFF, 372px 102px #FFF, 1596px 818px #FFF, 714px 323px #FFF, 1557px 1439px #FFF, 1188px 17px #FFF, 97px 1707px #FFF, 975px 894px #FFF, 1027px 1191px #FFF, 585px 430px #FFF, 223px 1665px #FFF, 1082px 115px #FFF, 1918px 900px #FFF, 316px 547px #FFF, 428px 1807px #FFF, 653px 401px #FFF, 1014px 528px #FFF, 1513px 1390px #FFF, 462px 1775px #FFF, 1950px 366px #FFF, 1843px 1312px #FFF, 1326px 1714px #FFF, 266px 1891px #FFF, 1319px 24px #FFF, 1368px 1660px #FFF, 1749px 866px #FFF, 1100px 1273px #FFF, 939px 1646px #FFF, 328px 916px #FFF, 42px 314px #FFF, 559px 71px #FFF, 280px 1730px #FFF, 1324px 482px #FFF, 1531px 616px #FFF, 316px 1414px #FFF, 1895px 417px #FFF, 1224px 1559px #FFF, 1660px 1297px #FFF, 1193px 1926px #FFF, 1866px 1667px #FFF, 1744px 1482px #FFF, 1939px 231px #FFF, 1656px 943px #FFF, 636px 176px #FFF, 1811px 915px #FFF, 1853px 1824px #FFF, 264px 1056px #FFF, 1895px 1287px #FFF, 1740px 1371px #FFF, 1919px 624px #FFF, 1020px 617px #FFF, 1923px 1091px #FFF, 14px 782px #FFF, 1457px 307px #FFF, 698px 114px #FFF, 1794px 1116px #FFF, 291px 1199px #FFF, 760px 784px #FFF, 42px 1744px #FFF, 579px 852px #FFF, 841px 1742px #FFF, 1165px 521px #FFF, 1257px 1503px #FFF, 919px 1732px #FFF, 130px 1953px #FFF, 6px 1230px #FFF, 194px 59px #FFF, 1369px 1477px #FFF, 79px 1010px #FFF, 605px 400px #FFF, 1984px 1194px #FFF, 844px 680px #FFF, 1602px 6px #FFF, 1090px 541px #FFF, 220px 1364px #FFF, 1122px 351px #FFF, 1376px 1384px #FFF, 734px 9px #FFF, 653px 1401px #FFF, 292px 618px #FFF, 879px 732px #FFF, 262px 896px #FFF, 1099px 2px #FFF, 1674px 613px #FFF, 720px 1762px #FFF, 359px 298px #FFF, 357px 1322px #FFF, 1870px 381px #FFF, 440px 490px #FFF, 1780px 1592px #FFF, 47px 952px #FFF, 567px 1930px #FFF, 1237px 1794px #FFF, 130px 49px #FFF, 712px 1174px #FFF, 154px 1781px #FFF, 892px 1278px #FFF, 1094px 1354px #FFF, 379px 1772px #FFF, 952px 431px #FFF, 1876px 635px #FFF, 838px 972px #FFF, 1736px 1714px #FFF, 1953px 1616px #FFF, 270px 1540px #FFF, 79px 557px #FFF, 1346px 1742px #FFF, 1292px 1693px #FFF, 389px 876px #FFF, 352px 290px #FFF, 1571px 204px #FFF, 1028px 1476px #FFF, 1290px 429px #FFF, 1975px 1247px #FFF, 547px 1308px #FFF, 1512px 1303px #FFF, 1808px 685px #FFF, 1811px 1817px #FFF, 808px 1688px #FFF, 1197px 1897px #FFF, 1005px 965px #FFF, 1258px 1967px #FFF, 973px 742px #FFF, 77px 265px #FFF, 213px 36px #FFF, 812px 1495px #FFF, 142px 1373px #FFF, 704px 1844px #FFF, 1735px 684px #FFF, 1896px 1942px #FFF, 1071px 736px #FFF, 1382px 1178px #FFF, 1185px 814px #FFF, 161px 1976px #FFF, 376px 1683px #FFF, 794px 1163px #FFF, 1306px 383px #FFF, 41px 592px #FFF, 111px 1515px #FFF, 1294px 986px #FFF, 789px 1539px #FFF, 831px 861px #FFF, 1295px 1457px #FFF, 1213px 36px #FFF, 267px 227px #FFF, 1748px 394px #FFF, 1901px 1079px #FFF, 1729px 1609px #FFF, 1513px 322px #FFF, 625px 1839px #FFF, 1507px 236px #FFF, 1623px 1978px #FFF, 647px 852px #FFF, 723px 118px #FFF, 1325px 1164px #FFF, 1949px 1680px #FFF, 984px 1576px #FFF, 1989px 844px #FFF, 1344px 1271px #FFF, 1311px 1267px #FFF, 241px 1070px #FFF, 1411px 989px #FFF, 1130px 1091px #FFF, 1724px 905px #FFF, 1375px 525px #FFF, 568px 1315px #FFF, 1290px 320px #FFF, 793px 443px #FFF, 131px 423px #FFF, 622px 420px #FFF, 481px 1320px #FFF, 682px 1338px #FFF, 415px 260px #FFF, 1342px 1664px #FFF, 1530px 684px #FFF, 1861px 72px #FFF, 1658px 274px #FFF, 1442px 1629px #FFF, 1784px 517px #FFF, 1378px 791px #FFF, 86px 1224px #FFF, 948px 1933px #FFF, 28px 1475px #FFF, 211px 1683px #FFF, 748px 1792px #FFF, 950px 621px #FFF, 1823px 1077px #FFF, 197px 1285px #FFF, 1289px 62px #FFF, 277px 1636px #FFF, 251px 189px #FFF, 97px 22px #FFF, 236px 1673px #FFF, 1280px 1346px #FFF, 424px 230px #FFF, 234px 1010px #FFF, 1651px 1974px #FFF, 1633px 1223px #FFF, 469px 1516px #FFF, 1037px 18px #FFF, 803px 1491px #FFF, 1157px 1100px #FFF, 1103px 1721px #FFF, 1385px 1129px #FFF, 1827px 8px #FFF, 55px 1920px #FFF, 102px 1059px #FFF, 1271px 89px #FFF, 930px 727px #FFF, 392px 1022px #FFF, 820px 1206px #FFF, 373px 1969px #FFF, 557px 1900px #FFF, 495px 365px #FFF, 1196px 1702px #FFF, 1441px 575px #FFF, 137px 897px #FFF, 996px 1905px #FFF, 885px 963px #FFF, 1842px 1576px #FFF, 1841px 112px #FFF, 263px 1387px #FFF, 1805px 1082px #FFF, 1630px 1805px #FFF, 1363px 445px #FFF, 399px 1109px #FFF, 382px 375px #FFF, 1399px 654px #FFF, 502px 692px #FFF, 1788px 1954px #FFF, 626px 14px #FFF, 528px 1927px #FFF, 258px 37px #FFF, 1588px 310px #FFF, 1175px 1128px #FFF, 372px 957px #FFF, 951px 525px #FFF, 36px 1563px #FFF, 767px 989px #FFF, 1391px 1160px #FFF, 536px 1657px #FFF, 425px 1854px #FFF, 658px 129px #FFF, 1045px 515px #FFF, 1444px 95px #FFF, 1487px 497px #FFF, 52px 1839px #FFF, 396px 600px #FFF, 882px 917px #FFF, 1178px 709px #FFF, 256px 1699px #FFF, 180px 1695px #FFF, 1552px 114px #FFF, 882px 824px #FFF, 1560px 822px #FFF, 766px 481px #FFF, 1244px 1826px #FFF, 661px 1260px #FFF, 315px 827px #FFF, 1266px 1245px #FFF, 1182px 1918px #FFF, 647px 871px #FFF, 535px 1936px #FFF, 1645px 1679px #FFF, 1534px 1157px #FFF, 633px 1917px #FFF, 1396px 1458px #FFF, 936px 706px #FFF, 255px 1274px #FFF, 1025px 602px #FFF, 939px 694px #FFF, 1267px 1745px #FFF, 1864px 85px #FFF, 1504px 580px #FFF, 1027px 111px #FFF, 1125px 350px #FFF, 110px 1276px #FFF, 1050px 454px #FFF, 1569px 1582px #FFF, 567px 1290px #FFF, 444px 1636px #FFF, 434px 1766px #FFF, 1628px 1041px #FFF, 77px 395px #FFF, 91px 1115px #FFF, 395px 1204px #FFF, 1495px 515px #FFF, 1774px 434px #FFF, 107px 538px #FFF, 348px 658px #FFF, 1262px 144px #FFF, 1894px 460px #FFF, 1756px 1408px #FFF, 1934px 896px #FFF, 239px 1327px #FFF, 819px 1550px #FFF, 17px 1819px #FFF, 1082px 1122px #FFF, 162px 1735px #FFF, 742px 1124px #FFF, 1076px 599px #FFF, 775px 384px #FFF, 1109px 754px #FFF, 1840px 1134px #FFF, 138px 898px #FFF, 733px 1472px #FFF, 658px 1987px #FFF, 326px 1418px #FFF, 1114px 1438px #FFF, 1332px 1364px #FFF, 799px 433px #FFF, 1011px 1724px #FFF, 1523px 641px #FFF, 922px 619px #FFF, 833px 1153px #FFF, 1885px 1783px #FFF, 1534px 620px #FFF, 1015px 218px #FFF, 669px 160px #FFF, 873px 511px #FFF, 187px 1467px #FFF, 537px 203px #FFF, 1190px 667px #FFF, 1373px 358px #FFF, 112px 77px #FFF, 979px 882px #FFF, 649px 568px #FFF, 1936px 709px #FFF, 1226px 1150px #FFF, 26px 1069px #FFF, 994px 1375px #FFF, 648px 780px #FFF, 853px 48px #FFF, 1865px 628px #FFF, 1252px 1483px #FFF, 1171px 329px #FFF, 1700px 1267px #FFF, 789px 1711px #FFF, 1259px 665px #FFF, 605px 552px #FFF, 304px 674px #FFF, 1412px 1623px #FFF, 1211px 298px #FFF, 427px 466px #FFF, 152px 915px #FFF, 1638px 822px #FFF, 1714px 1564px #FFF, 788px 1034px #FFF, 6px 1602px #FFF, 573px 1639px #FFF, 301px 649px #FFF, 641px 550px #FFF, 1951px 1473px #FFF, 407px 274px #FFF, 1995px 770px #FFF, 507px 513px #FFF, 1441px 70px #FFF, 946px 1301px #FFF, 652px 771px #FFF, 686px 863px #FFF, 1357px 181px #FFF, 1741px 513px #FFF, 1799px 1056px #FFF, 350px 1829px #FFF, 200px 1392px #FFF, 1066px 204px #FFF, 1496px 539px #FFF, 662px 1058px #FFF, 1174px 1391px #FFF, 1446px 713px #FFF, 1008px 993px #FFF, 127px 1518px #FFF, 1365px 1594px #FFF, 35px 624px #FFF, 1003px 1826px #FFF, 670px 1667px #FFF, 311px 1357px #FFF, 1021px 7px #FFF, 781px 517px #FFF, 1146px 1285px #FFF, 747px 1974px #FFF, 71px 1889px #FFF, 1174px 13px #FFF, 1508px 867px #FFF, 935px 766px #FFF, 114px 1146px #FFF, 854px 342px #FFF, 909px 1000px #FFF, 1555px 751px #FFF, 1895px 1024px #FFF, 1869px 924px #FFF, 372px 1264px #FFF, 806px 710px #FFF, 1361px 1564px #FFF, 1580px 877px #FFF, 986px 1608px #FFF, 1813px 1982px #FFF, 1827px 1048px #FFF, 128px 1409px #FFF, 1196px 1141px #FFF, 1435px 591px #FFF, 1997px 485px #FFF, 1129px 933px #FFF, 1679px 1531px #FFF, 1293px 1195px #FFF, 1193px 1293px #FFF, 1906px 778px #FFF, 1114px 745px #FFF, 1837px 1282px #FFF, 1147px 1730px #FFF, 1886px 272px #FFF, 442px 1573px #FFF, 1821px 1074px #FFF, 529px 98px #FFF, 1380px 958px #FFF, 463px 1376px #FFF, 1874px 1914px #FFF, 302px 1741px #FFF, 306px 995px #FFF, 1353px 391px #FFF, 1840px 330px #FFF, 758px 15px #FFF, 309px 842px #FFF, 1708px 1059px #FFF, 331px 662px #FFF, 42px 437px #FFF, 1128px 312px #FFF, 1387px 307px #FFF, 1202px 1564px #FFF, 1421px 1479px #FFF, 1632px 1982px #FFF, 1115px 1893px #FFF, 626px 982px #FFF, 866px 1656px #FFF, 63px 312px #FFF, 432px 1833px #FFF, 1866px 1346px #FFF, 373px 77px #FFF, 1381px 11px #FFF, 900px 1187px #FFF, 385px 1896px #FFF, 74px 593px #FFF, 1522px 754px #FFF, 1614px 1629px #FFF, 76px 1802px #FFF, 383px 44px #FFF, 1012px 527px #FFF, 462px 966px #FFF, 1276px 1900px #FFF, 233px 1023px #FFF, 502px 237px #FFF, 70px 1053px #FFF, 415px 1499px #FFF, 879px 1006px #FFF, 178px 884px #FFF, 27px 1628px #FFF, 676px 1568px #FFF, 398px 1726px #FFF, 773px 900px #FFF, 934px 175px #FFF, 1410px 579px #FFF, 4px 1991px #FFF, 757px 1739px #FFF, 1788px 175px #FFF, 819px 298px #FFF, 330px 431px #FFF, 1196px 1548px #FFF, 1142px 1741px #FFF, 1074px 78px #FFF, 998px 1548px #FFF, 1059px 1758px #FFF, 854px 349px #FFF, 1380px 42px #FFF, 217px 1786px #FFF, 3px 1372px #FFF, 1217px 875px #FFF, 349px 1305px #FFF, 641px 1793px #FFF, 339px 1764px #FFF, 549px 1236px #FFF, 1949px 613px #FFF, 1087px 388px #FFF, 1349px 421px #FFF, 1131px 1771px #FFF, 1779px 961px #FFF, 686px 1592px #FFF, 1070px 49px #FFF, 341px 793px #FFF, 119px 447px #FFF, 327px 1455px #FFF, 608px 663px #FFF, 463px 1822px #FFF, 1114px 1904px #FFF, 1022px 212px #FFF, 571px 1345px #FFF, 752px 101px #FFF, 1133px 161px #FFF, 1977px 592px #FFF, 388px 596px #FFF, 1700px 925px #FFF, 1074px 813px #FFF, 1596px 1438px #FFF, 61px 192px #FFF, 387px 724px #FFF, 524px 595px #FFF, 792px 1484px #FFF, 63px 646px #FFF, 1365px 1993px #FFF, 1986px 246px #FFF, 500px 1357px #FFF, 1495px 71px #FFF, 1336px 801px #FFF, 212px 1136px #FFF, 1242px 760px #FFF, 368px 647px #FFF, 1775px 1449px #FFF, 530px 1554px #FFF, 749px 933px #FFF, 1039px 1977px #FFF, 296px 1159px #FFF, 1914px 1035px #FFF, 1472px 914px #FFF, 808px 792px #FFF, 1083px 1911px #FFF, 344px 1156px #FFF, 1312px 1171px #FFF, 1922px 1281px #FFF, 904px 1777px #FFF, 477px 1961px #FFF, 1216px 601px #FFF, 515px 1868px #FFF, 592px 758px #FFF, 1031px 885px #FFF, 1651px 951px #FFF, 277px 236px #FFF, 154px 1628px #FFF, 1113px 1408px #FFF, 62px 10px #FFF, 1882px 1268px #FFF, 686px 1105px #FFF, 1722px 603px #FFF, 1675px 1006px #FFF, 1120px 1820px #FFF, 1854px 371px #FFF, 64px 1101px #FFF, 1194px 1085px #FFF, 224px 307px #FFF, 1352px 1551px #FFF, 606px 344px #FFF, 1072px 981px #FFF, 1861px 1334px #FFF, 1998px 380px #FFF, 197px 202px #FFF, 1827px 1974px #FFF, 1490px 1468px #FFF, 238px 1198px #FFF, 1998px 105px #FFF, 1683px 945px #FFF, 168px 506px #FFF, 848px 1461px #FFF, 1576px 1081px #FFF, 1848px 1700px #FFF, 1379px 733px #FFF, 1125px 1681px #FFF, 1030px 15px #FFF, 1148px 285px #FFF, 1475px 670px #FFF, 971px 389px #FFF;
    animation: animStar 50s linear infinite;
    overflow: hidden;
    position: relative;
    z-index: 0;

    &::after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 777px 14671px #FFF, 128px 1634px #FFF, 674px 734px #FFF, 173px 1289px #FFF, 667px 1335px #FFF, 811px 818px #FFF, 1874px 1451px #FFF, 1730px 447px #FFF, 334px 933px #FFF, 1963px 568px #FFF, 1300px 1643px #FFF, 1995px 1697px #FFF, 927px 951px #FFF, 1317px 485px #FFF, 130px 1821px #FFF, 994px 1437px #FFF, 307px 885px #FFF, 585px 1251px #FFF, 1469px 1375px #FFF, 1582px 1285px #FFF, 1020px 628px #FFF, 1779px 452px #FFF, 776px 737px #FFF, 200px 801px #FFF, 325px 950px #FFF, 584px 1816px #FFF, 1479px 682px #FFF, 1194px 435px #FFF, 213px 1568px #FFF, 1181px 1943px #FFF, 642px 1695px #FFF, 1850px 1230px #FFF, 1749px 518px #FFF, 1065px 1654px #FFF, 1158px 994px #FFF, 611px 1107px #FFF, 115px 1929px #FFF, 1339px 1788px #FFF, 1520px 751px #FFF, 1156px 435px #FFF, 800px 1490px #FFF, 1573px 950px #FFF, 558px 173px #FFF, 1375px 639px #FFF, 1419px 484px #FFF, 193px 927px #FFF, 413px 1212px #FFF, 1503px 27px #FFF, 1857px 1490px #FFF, 1939px 1480px #FFF, 930px 1613px #FFF, 237px 1988px #FFF, 862px 1921px #FFF, 614px 1694px #FFF, 473px 1633px #FFF, 504px 1990px #FFF, 567px 1411px #FFF, 1918px 706px #FFF, 1609px 585px #FFF, 641px 1528px #FFF, 926px 1822px #FFF, 1375px 839px #FFF, 1430px 457px #FFF, 412px 1039px #FFF, 1644px 610px #FFF, 683px 1967px #FFF, 472px 351px #FFF, 597px 366px #FFF, 1795px 596px #FFF, 1922px 649px #FFF, 1354px 603px #FFF, 795px 1267px #FFF, 1748px 112px #FFF, 1643px 1445px #FFF, 207px 1201px #FFF, 1243px 1140px #FFF, 1755px 1530px #FFF, 799px 124px #FFF, 373px 1642px #FFF, 1577px 980px #FFF, 121px 76px #FFF, 734px 986px #FFF, 1829px 1679px #FFF, 672px 1183px #FFF, 1117px 79px #FFF, 464px 344px #FFF, 618px 1031px #FFF, 1763px 1406px #FFF, 1970px 1353px #FFF, 685px 1848px #FFF, 1744px 76px #FFF, 673px 1276px #FFF, 1545px 1985px #FFF, 63px 253px #FFF, 1680px 1502px #FFF, 381px 789px #FFF, 878px 38px #FFF, 1677px 1069px #FFF, 1013px 210px #FFF, 971px 1119px #FFF, 923px 1191px #FFF, 1872px 1600px #FFF, 599px 657px #FFF, 1213px 1596px #FFF, 641px 425px #FFF, 1090px 1932px #FFF, 478px 782px #FFF, 1306px 1866px #FFF, 1455px 67px #FFF, 389px 1458px #FFF, 212px 513px #FFF, 917px 498px #FFF, 1535px 1444px #FFF, 1826px 7px #FFF, 995px 503px #FFF, 311px 1681px #FFF, 435px 496px #FFF, 253px 205px #FFF, 521px 1975px #FFF, 118px 312px #FFF, 465px 1379px #FFF, 1789px 1469px #FFF, 1222px 790px #FFF, 283px 1161px #FFF, 120px 285px #FFF, 489px 929px #FFF, 1742px 999px #FFF, 1005px 302px #FFF, 836px 58px #FFF, 957px 1485px #FFF, 181px 1390px #FFF, 1365px 625px #FFF, 1092px 741px #FFF, 372px 102px #FFF, 1596px 818px #FFF, 714px 323px #FFF, 1557px 1439px #FFF, 1188px 17px #FFF, 97px 1707px #FFF, 975px 894px #FFF, 1027px 1191px #FFF, 585px 430px #FFF, 223px 1665px #FFF, 1082px 115px #FFF, 1918px 900px #FFF, 316px 547px #FFF, 428px 1807px #FFF, 653px 401px #FFF, 1014px 528px #FFF, 1513px 1390px #FFF, 462px 1775px #FFF, 1950px 366px #FFF, 1843px 1312px #FFF, 1326px 1714px #FFF, 266px 1891px #FFF, 1319px 24px #FFF, 1368px 1660px #FFF, 1749px 866px #FFF, 1100px 1273px #FFF, 939px 1646px #FFF, 328px 916px #FFF, 42px 314px #FFF, 559px 71px #FFF, 280px 1730px #FFF, 1324px 482px #FFF, 1531px 616px #FFF, 316px 1414px #FFF, 1895px 417px #FFF, 1224px 1559px #FFF, 1660px 1297px #FFF, 1193px 1926px #FFF, 1866px 1667px #FFF, 1744px 1482px #FFF, 1939px 231px #FFF, 1656px 943px #FFF, 636px 176px #FFF, 1811px 915px #FFF, 1853px 1824px #FFF, 264px 1056px #FFF, 1895px 1287px #FFF, 1740px 1371px #FFF, 1919px 624px #FFF, 1020px 617px #FFF, 1923px 1091px #FFF, 14px 782px #FFF, 1457px 307px #FFF, 698px 114px #FFF, 1794px 1116px #FFF, 291px 1199px #FFF, 760px 784px #FFF, 42px 1744px #FFF, 579px 852px #FFF, 841px 1742px #FFF, 1165px 521px #FFF, 1257px 1503px #FFF, 919px 1732px #FFF, 130px 1953px #FFF, 6px 1230px #FFF, 194px 59px #FFF, 1369px 1477px #FFF, 79px 1010px #FFF, 605px 400px #FFF, 1984px 1194px #FFF, 844px 680px #FFF, 1602px 6px #FFF, 1090px 541px #FFF, 220px 1364px #FFF, 1122px 351px #FFF, 1376px 1384px #FFF, 734px 9px #FFF, 653px 1401px #FFF, 292px 618px #FFF, 879px 732px #FFF, 262px 896px #FFF, 1099px 2px #FFF, 1674px 613px #FFF, 720px 1762px #FFF, 359px 298px #FFF, 357px 1322px #FFF, 1870px 381px #FFF, 440px 490px #FFF, 1780px 1592px #FFF, 47px 952px #FFF, 567px 1930px #FFF, 1237px 1794px #FFF, 130px 49px #FFF, 712px 1174px #FFF, 154px 1781px #FFF, 892px 1278px #FFF, 1094px 1354px #FFF, 379px 1772px #FFF, 952px 431px #FFF, 1876px 635px #FFF, 838px 972px #FFF, 1736px 1714px #FFF, 1953px 1616px #FFF, 270px 1540px #FFF, 79px 557px #FFF, 1346px 1742px #FFF, 1292px 1693px #FFF, 389px 876px #FFF, 352px 290px #FFF, 1571px 204px #FFF, 1028px 1476px #FFF, 1290px 429px #FFF, 1975px 1247px #FFF, 547px 1308px #FFF, 1512px 1303px #FFF, 1808px 685px #FFF, 1811px 1817px #FFF, 808px 1688px #FFF, 1197px 1897px #FFF, 1005px 965px #FFF, 1258px 1967px #FFF, 973px 742px #FFF, 77px 265px #FFF, 213px 36px #FFF, 812px 1495px #FFF, 142px 1373px #FFF, 704px 1844px #FFF, 1735px 684px #FFF, 1896px 1942px #FFF, 1071px 736px #FFF, 1382px 1178px #FFF, 1185px 814px #FFF, 161px 1976px #FFF, 376px 1683px #FFF, 794px 1163px #FFF, 1306px 383px #FFF, 41px 592px #FFF, 111px 1515px #FFF, 1294px 986px #FFF, 789px 1539px #FFF, 831px 861px #FFF, 1295px 1457px #FFF, 1213px 36px #FFF, 267px 227px #FFF, 1748px 394px #FFF, 1901px 1079px #FFF, 1729px 1609px #FFF, 1513px 322px #FFF, 625px 1839px #FFF, 1507px 236px #FFF, 1623px 1978px #FFF, 647px 852px #FFF, 723px 118px #FFF, 1325px 1164px #FFF, 1949px 1680px #FFF, 984px 1576px #FFF, 1989px 844px #FFF, 1344px 1271px #FFF, 1311px 1267px #FFF, 241px 1070px #FFF, 1411px 989px #FFF, 1130px 1091px #FFF, 1724px 905px #FFF, 1375px 525px #FFF, 568px 1315px #FFF, 1290px 320px #FFF, 793px 443px #FFF, 131px 423px #FFF, 622px 420px #FFF, 481px 1320px #FFF, 682px 1338px #FFF, 415px 260px #FFF, 1342px 1664px #FFF, 1530px 684px #FFF, 1861px 72px #FFF, 1658px 274px #FFF, 1442px 1629px #FFF, 1784px 517px #FFF, 1378px 791px #FFF, 86px 1224px #FFF, 948px 1933px #FFF, 28px 1475px #FFF, 211px 1683px #FFF, 748px 1792px #FFF, 950px 621px #FFF, 1823px 1077px #FFF, 197px 1285px #FFF, 1289px 62px #FFF, 277px 1636px #FFF, 251px 189px #FFF, 97px 22px #FFF, 236px 1673px #FFF, 1280px 1346px #FFF, 424px 230px #FFF, 234px 1010px #FFF, 1651px 1974px #FFF, 1633px 1223px #FFF, 469px 1516px #FFF, 1037px 18px #FFF, 803px 1491px #FFF, 1157px 1100px #FFF, 1103px 1721px #FFF, 1385px 1129px #FFF, 1827px 8px #FFF, 55px 1920px #FFF, 102px 1059px #FFF, 1271px 89px #FFF, 930px 727px #FFF, 392px 1022px #FFF, 820px 1206px #FFF, 373px 1969px #FFF, 557px 1900px #FFF, 495px 365px #FFF, 1196px 1702px #FFF, 1441px 575px #FFF, 137px 897px #FFF, 996px 1905px #FFF, 885px 963px #FFF, 1842px 1576px #FFF, 1841px 112px #FFF, 263px 1387px #FFF, 1805px 1082px #FFF, 1630px 1805px #FFF, 1363px 445px #FFF, 399px 1109px #FFF, 382px 375px #FFF, 1399px 654px #FFF, 502px 692px #FFF, 1788px 1954px #FFF, 626px 14px #FFF, 528px 1927px #FFF, 258px 37px #FFF, 1588px 310px #FFF, 1175px 1128px #FFF, 372px 957px #FFF, 951px 525px #FFF, 36px 1563px #FFF, 767px 989px #FFF, 1391px 1160px #FFF, 536px 1657px #FFF, 425px 1854px #FFF, 658px 129px #FFF, 1045px 515px #FFF, 1444px 95px #FFF, 1487px 497px #FFF, 52px 1839px #FFF, 396px 600px #FFF, 882px 917px #FFF, 1178px 709px #FFF, 256px 1699px #FFF, 180px 1695px #FFF, 1552px 114px #FFF, 882px 824px #FFF, 1560px 822px #FFF, 766px 481px #FFF, 1244px 1826px #FFF, 661px 1260px #FFF, 315px 827px #FFF, 1266px 1245px #FFF, 1182px 1918px #FFF, 647px 871px #FFF, 535px 1936px #FFF, 1645px 1679px #FFF, 1534px 1157px #FFF, 633px 1917px #FFF, 1396px 1458px #FFF, 936px 706px #FFF, 255px 1274px #FFF, 1025px 602px #FFF, 939px 694px #FFF, 1267px 1745px #FFF, 1864px 85px #FFF, 1504px 580px #FFF, 1027px 111px #FFF, 1125px 350px #FFF, 110px 1276px #FFF, 1050px 454px #FFF, 1569px 1582px #FFF, 567px 1290px #FFF, 444px 1636px #FFF, 434px 1766px #FFF, 1628px 1041px #FFF, 77px 395px #FFF, 91px 1115px #FFF, 395px 1204px #FFF, 1495px 515px #FFF, 1774px 434px #FFF, 107px 538px #FFF, 348px 658px #FFF, 1262px 144px #FFF, 1894px 460px #FFF, 1756px 1408px #FFF, 1934px 896px #FFF, 239px 1327px #FFF, 819px 1550px #FFF, 17px 1819px #FFF, 1082px 1122px #FFF, 162px 1735px #FFF, 742px 1124px #FFF, 1076px 599px #FFF, 775px 384px #FFF, 1109px 754px #FFF, 1840px 1134px #FFF, 138px 898px #FFF, 733px 1472px #FFF, 658px 1987px #FFF, 326px 1418px #FFF, 1114px 1438px #FFF, 1332px 1364px #FFF, 799px 433px #FFF, 1011px 1724px #FFF, 1523px 641px #FFF, 922px 619px #FFF, 833px 1153px #FFF, 1885px 1783px #FFF, 1534px 620px #FFF, 1015px 218px #FFF, 669px 160px #FFF, 873px 511px #FFF, 187px 1467px #FFF, 537px 203px #FFF, 1190px 667px #FFF, 1373px 358px #FFF, 112px 77px #FFF, 979px 882px #FFF, 649px 568px #FFF, 1936px 709px #FFF, 1226px 1150px #FFF, 26px 1069px #FFF, 994px 1375px #FFF, 648px 780px #FFF, 853px 48px #FFF, 1865px 628px #FFF, 1252px 1483px #FFF, 1171px 329px #FFF, 1700px 1267px #FFF, 789px 1711px #FFF, 1259px 665px #FFF, 605px 552px #FFF, 304px 674px #FFF, 1412px 1623px #FFF, 1211px 298px #FFF, 427px 466px #FFF, 152px 915px #FFF, 1638px 822px #FFF, 1714px 1564px #FFF, 788px 1034px #FFF, 6px 1602px #FFF, 573px 1639px #FFF, 301px 649px #FFF, 641px 550px #FFF, 1951px 1473px #FFF, 407px 274px #FFF, 1995px 770px #FFF, 507px 513px #FFF, 1441px 70px #FFF, 946px 1301px #FFF, 652px 771px #FFF, 686px 863px #FFF, 1357px 181px #FFF, 1741px 513px #FFF, 1799px 1056px #FFF, 350px 1829px #FFF, 200px 1392px #FFF, 1066px 204px #FFF, 1496px 539px #FFF, 662px 1058px #FFF, 1174px 1391px #FFF, 1446px 713px #FFF, 1008px 993px #FFF, 127px 1518px #FFF, 1365px 1594px #FFF, 35px 624px #FFF, 1003px 1826px #FFF, 670px 1667px #FFF, 311px 1357px #FFF, 1021px 7px #FFF, 781px 517px #FFF, 1146px 1285px #FFF, 747px 1974px #FFF, 71px 1889px #FFF, 1174px 13px #FFF, 1508px 867px #FFF, 935px 766px #FFF, 114px 1146px #FFF, 854px 342px #FFF, 909px 1000px #FFF, 1555px 751px #FFF, 1895px 1024px #FFF, 1869px 924px #FFF, 372px 1264px #FFF, 806px 710px #FFF, 1361px 1564px #FFF, 1580px 877px #FFF, 986px 1608px #FFF, 1813px 1982px #FFF, 1827px 1048px #FFF, 128px 1409px #FFF, 1196px 1141px #FFF, 1435px 591px #FFF, 1997px 485px #FFF, 1129px 933px #FFF, 1679px 1531px #FFF, 1293px 1195px #FFF, 1193px 1293px #FFF, 1906px 778px #FFF, 1114px 745px #FFF, 1837px 1282px #FFF, 1147px 1730px #FFF, 1886px 272px #FFF, 442px 1573px #FFF, 1821px 1074px #FFF, 529px 98px #FFF, 1380px 958px #FFF, 463px 1376px #FFF, 1874px 1914px #FFF, 302px 1741px #FFF, 306px 995px #FFF, 1353px 391px #FFF, 1840px 330px #FFF, 758px 15px #FFF, 309px 842px #FFF, 1708px 1059px #FFF, 331px 662px #FFF, 42px 437px #FFF, 1128px 312px #FFF, 1387px 307px #FFF, 1202px 1564px #FFF, 1421px 1479px #FFF, 1632px 1982px #FFF, 1115px 1893px #FFF, 626px 982px #FFF, 866px 1656px #FFF, 63px 312px #FFF, 432px 1833px #FFF, 1866px 1346px #FFF, 373px 77px #FFF, 1381px 11px #FFF, 900px 1187px #FFF, 385px 1896px #FFF, 74px 593px #FFF, 1522px 754px #FFF, 1614px 1629px #FFF, 76px 1802px #FFF, 383px 44px #FFF, 1012px 527px #FFF, 462px 966px #FFF, 1276px 1900px #FFF, 233px 1023px #FFF, 502px 237px #FFF, 70px 1053px #FFF, 415px 1499px #FFF, 879px 1006px #FFF, 178px 884px #FFF, 27px 1628px #FFF, 676px 1568px #FFF, 398px 1726px #FFF, 773px 900px #FFF, 934px 175px #FFF, 1410px 579px #FFF, 4px 1991px #FFF, 757px 1739px #FFF, 1788px 175px #FFF, 819px 298px #FFF, 330px 431px #FFF, 1196px 1548px #FFF, 1142px 1741px #FFF, 1074px 78px #FFF, 998px 1548px #FFF, 1059px 1758px #FFF, 854px 349px #FFF, 1380px 42px #FFF, 217px 1786px #FFF, 3px 1372px #FFF, 1217px 875px #FFF, 349px 1305px #FFF, 641px 1793px #FFF, 339px 1764px #FFF, 549px 1236px #FFF, 1949px 613px #FFF, 1087px 388px #FFF, 1349px 421px #FFF, 1131px 1771px #FFF, 1779px 961px #FFF, 686px 1592px #FFF, 1070px 49px #FFF, 341px 793px #FFF, 119px 447px #FFF, 327px 1455px #FFF, 608px 663px #FFF, 463px 1822px #FFF, 1114px 1904px #FFF, 1022px 212px #FFF, 571px 1345px #FFF, 752px 101px #FFF, 1133px 161px #FFF, 1977px 592px #FFF, 388px 596px #FFF, 1700px 925px #FFF, 1074px 813px #FFF, 1596px 1438px #FFF, 61px 192px #FFF, 387px 724px #FFF, 524px 595px #FFF, 792px 1484px #FFF, 63px 646px #FFF, 1365px 1993px #FFF, 1986px 246px #FFF, 500px 1357px #FFF, 1495px 71px #FFF, 1336px 801px #FFF, 212px 1136px #FFF, 1242px 760px #FFF, 368px 647px #FFF, 1775px 1449px #FFF, 530px 1554px #FFF, 749px 933px #FFF, 1039px 1977px #FFF, 296px 1159px #FFF, 1914px 1035px #FFF, 1472px 914px #FFF, 808px 792px #FFF, 1083px 1911px #FFF, 344px 1156px #FFF, 1312px 1171px #FFF, 1922px 1281px #FFF, 904px 1777px #FFF, 477px 1961px #FFF, 1216px 601px #FFF, 515px 1868px #FFF, 592px 758px #FFF, 1031px 885px #FFF, 1651px 951px #FFF, 277px 236px #FFF, 154px 1628px #FFF, 1113px 1408px #FFF, 62px 10px #FFF, 1882px 1268px #FFF, 686px 1105px #FFF, 1722px 603px #FFF, 1675px 1006px #FFF, 1120px 1820px #FFF, 1854px 371px #FFF, 64px 1101px #FFF, 1194px 1085px #FFF, 224px 307px #FFF, 1352px 1551px #FFF, 606px 344px #FFF, 1072px 981px #FFF, 1861px 1334px #FFF, 1998px 380px #FFF, 197px 202px #FFF, 1827px 1974px #FFF, 1490px 1468px #FFF, 238px 1198px #FFF, 1998px 105px #FFF, 1683px 945px #FFF, 168px 506px #FFF, 848px 1461px #FFF, 1576px 1081px #FFF, 1848px 1700px #FFF, 1379px 733px #FFF, 1125px 1681px #FFF, 1030px 15px #FFF, 1148px 285px #FFF, 1475px 670px #FFF, 971px 389px #FFF;
    }
  }

  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 894px 6252px #FFF, 1243px 425px #FFF, 552px 1596px #FFF, 1670px 317px #FFF, 999px 1464px #FFF, 1130px 237px #FFF, 1196px 978px #FFF, 727px 1567px #FFF, 765px 853px #FFF, 941px 132px #FFF, 1px 334px #FFF, 1284px 836px #FFF, 1939px 461px #FFF, 833px 1319px #FFF, 93px 1303px #FFF, 973px 1514px #FFF, 1584px 1578px #FFF, 935px 1732px #FFF, 543px 1148px #FFF, 164px 1544px #FFF, 325px 435px #FFF, 579px 1477px #FFF, 655px 1673px #FFF, 1346px 1407px #FFF, 1497px 1491px #FFF, 901px 1866px #FFF, 307px 1885px #FFF, 238px 331px #FFF, 1149px 1566px #FFF, 741px 897px #FFF, 1987px 317px #FFF, 1282px 1045px #FFF, 730px 615px #FFF, 635px 857px #FFF, 1577px 865px #FFF, 825px 1211px #FFF, 1643px 1088px #FFF, 1189px 1131px #FFF, 516px 1197px #FFF, 978px 305px #FFF, 1455px 1629px #FFF, 1682px 267px #FFF, 1896px 289px #FFF, 1056px 433px #FFF, 1514px 623px #FFF, 1084px 123px #FFF, 1581px 994px #FFF, 883px 239px #FFF, 1780px 263px #FFF, 1130px 1766px #FFF, 1119px 1039px #FFF, 277px 916px #FFF, 1509px 117px #FFF, 458px 823px #FFF, 909px 1804px #FFF, 1535px 1214px #FFF, 171px 25px #FFF, 358px 719px #FFF, 241px 836px #FFF, 1548px 389px #FFF, 375px 1915px #FFF, 1px 796px #FFF, 940px 801px #FFF, 1083px 1035px #FFF, 1741px 1148px #FFF, 1461px 1345px #FFF, 1939px 1532px #FFF, 1671px 80px #FFF, 1901px 109px #FFF, 1690px 1115px #FFF, 303px 1752px #FFF, 1222px 1969px #FFF, 599px 224px #FFF, 718px 674px #FFF, 434px 316px #FFF, 585px 86px #FFF, 443px 848px #FFF, 1929px 426px #FFF, 1845px 1736px #FFF, 163px 1642px #FFF, 939px 1921px #FFF, 249px 51px #FFF, 1992px 1938px #FFF, 1216px 299px #FFF, 123px 1109px #FFF, 1551px 1193px #FFF, 1548px 373px #FFF, 1151px 1970px #FFF, 854px 624px #FFF, 311px 766px #FFF, 1993px 969px #FFF, 1967px 1640px #FFF, 107px 1490px #FFF, 108px 976px #FFF, 869px 153px #FFF, 1452px 158px #FFF, 1782px 1066px #FFF, 798px 1497px #FFF, 1368px 1523px #FFF, 1777px 1111px #FFF, 1033px 112px #FFF, 276px 814px #FFF, 1217px 1662px #FFF, 1277px 468px #FFF, 770px 794px #FFF, 336px 1268px #FFF, 32px 1480px #FFF, 1610px 1250px #FFF, 631px 1126px #FFF, 1352px 576px #FFF, 908px 1539px #FFF, 1999px 554px #FFF, 674px 591px #FFF, 362px 930px #FFF, 146px 1796px #FFF, 1538px 1876px #FFF, 925px 849px #FFF, 1941px 941px #FFF, 1236px 1157px #FFF, 1829px 477px #FFF, 1711px 1446px #FFF, 836px 1359px #FFF, 89px 1595px #FFF, 968px 1813px #FFF, 1804px 1005px #FFF, 1705px 1549px #FFF, 85px 966px #FFF, 1251px 419px #FFF, 78px 1230px #FFF, 172px 572px #FFF, 110px 1734px #FFF, 85px 1731px #FFF, 608px 174px #FFF, 445px 268px #FFF, 901px 1369px #FFF, 576px 1366px #FFF, 432px 1274px #FFF, 200px 1033px #FFF, 525px 36px #FFF, 1696px 1632px #FFF, 1578px 1263px #FFF, 299px 1415px #FFF, 1083px 1301px #FFF, 620px 1744px #FFF, 1880px 913px #FFF, 306px 1232px #FFF, 1855px 510px #FFF, 1298px 1357px #FFF, 1605px 837px #FFF, 823px 1965px #FFF, 1743px 381px #FFF, 1120px 576px #FFF, 1412px 1378px #FFF, 404px 65px #FFF, 483px 1736px #FFF, 1841px 1913px #FFF, 324px 1570px #FFF, 1453px 1322px #FFF, 380px 1647px #FFF, 860px 1255px #FFF, 1182px 1482px #FFF, 1249px 19px #FFF, 859px 1033px #FFF, 1531px 1330px #FFF, 149px 577px #FFF, 708px 619px #FFF, 698px 1751px #FFF, 286px 191px #FFF, 1133px 1258px #FFF, 441px 1163px #FFF, 1042px 1683px #FFF, 1373px 1086px #FFF, 1231px 1222px #FFF, 815px 1612px #FFF, 159px 975px #FFF, 1326px 1458px #FFF, 1013px 1217px #FFF, 1005px 1669px #FFF, 1881px 1233px #FFF, 478px 1707px #FFF, 867px 1830px #FFF, 1819px 1208px #FFF, 304px 818px #FFF, 1991px 731px #FFF, 1531px 1346px #FFF, 279px 1155px #FFF, 475px 1109px #FFF, 743px 7px #FFF, 690px 1590px #FFF, 464px 1167px #FFF, 278px 1345px #FFF, 666px 897px #FFF, 378px 1071px #FFF, 1439px 1147px #FFF, 995px 1438px #FFF, 1701px 964px #FFF, 843px 937px #FFF, 963px 545px #FFF, 828px 1290px #FFF, 1806px 173px #FFF;
    animation: animStar 100s linear infinite;
    overflow: hidden;
    position: relative;
    z-index: 0;

    &::after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 894px 6252px #FFF, 1243px 425px #FFF, 552px 1596px #FFF, 1670px 317px #FFF, 999px 1464px #FFF, 1130px 237px #FFF, 1196px 978px #FFF, 727px 1567px #FFF, 765px 853px #FFF, 941px 132px #FFF, 1px 334px #FFF, 1284px 836px #FFF, 1939px 461px #FFF, 833px 1319px #FFF, 93px 1303px #FFF, 973px 1514px #FFF, 1584px 1578px #FFF, 935px 1732px #FFF, 543px 1148px #FFF, 164px 1544px #FFF, 325px 435px #FFF, 579px 1477px #FFF, 655px 1673px #FFF, 1346px 1407px #FFF, 1497px 1491px #FFF, 901px 1866px #FFF, 307px 1885px #FFF, 238px 331px #FFF, 1149px 1566px #FFF, 741px 897px #FFF, 1987px 317px #FFF, 1282px 1045px #FFF, 730px 615px #FFF, 635px 857px #FFF, 1577px 865px #FFF, 825px 1211px #FFF, 1643px 1088px #FFF, 1189px 1131px #FFF, 516px 1197px #FFF, 978px 305px #FFF, 1455px 1629px #FFF, 1682px 267px #FFF, 1896px 289px #FFF, 1056px 433px #FFF, 1514px 623px #FFF, 1084px 123px #FFF, 1581px 994px #FFF, 883px 239px #FFF, 1780px 263px #FFF, 1130px 1766px #FFF, 1119px 1039px #FFF, 277px 916px #FFF, 1509px 117px #FFF, 458px 823px #FFF, 909px 1804px #FFF, 1535px 1214px #FFF, 171px 25px #FFF, 358px 719px #FFF, 241px 836px #FFF, 1548px 389px #FFF, 375px 1915px #FFF, 1px 796px #FFF, 940px 801px #FFF, 1083px 1035px #FFF, 1741px 1148px #FFF, 1461px 1345px #FFF, 1939px 1532px #FFF, 1671px 80px #FFF, 1901px 109px #FFF, 1690px 1115px #FFF, 303px 1752px #FFF, 1222px 1969px #FFF, 599px 224px #FFF, 718px 674px #FFF, 434px 316px #FFF, 585px 86px #FFF, 443px 848px #FFF, 1929px 426px #FFF, 1845px 1736px #FFF, 163px 1642px #FFF, 939px 1921px #FFF, 249px 51px #FFF, 1992px 1938px #FFF, 1216px 299px #FFF, 123px 1109px #FFF, 1551px 1193px #FFF, 1548px 373px #FFF, 1151px 1970px #FFF, 854px 624px #FFF, 311px 766px #FFF, 1993px 969px #FFF, 1967px 1640px #FFF, 107px 1490px #FFF, 108px 976px #FFF, 869px 153px #FFF, 1452px 158px #FFF, 1782px 1066px #FFF, 798px 1497px #FFF, 1368px 1523px #FFF, 1777px 1111px #FFF, 1033px 112px #FFF, 276px 814px #FFF, 1217px 1662px #FFF, 1277px 468px #FFF, 770px 794px #FFF, 336px 1268px #FFF, 32px 1480px #FFF, 1610px 1250px #FFF, 631px 1126px #FFF, 1352px 576px #FFF, 908px 1539px #FFF, 1999px 554px #FFF, 674px 591px #FFF, 362px 930px #FFF, 146px 1796px #FFF, 1538px 1876px #FFF, 925px 849px #FFF, 1941px 941px #FFF, 1236px 1157px #FFF, 1829px 477px #FFF, 1711px 1446px #FFF, 836px 1359px #FFF, 89px 1595px #FFF, 968px 1813px #FFF, 1804px 1005px #FFF, 1705px 1549px #FFF, 85px 966px #FFF, 1251px 419px #FFF, 78px 1230px #FFF, 172px 572px #FFF, 110px 1734px #FFF, 85px 1731px #FFF, 608px 174px #FFF, 445px 268px #FFF, 901px 1369px #FFF, 576px 1366px #FFF, 432px 1274px #FFF, 200px 1033px #FFF, 525px 36px #FFF, 1696px 1632px #FFF, 1578px 1263px #FFF, 299px 1415px #FFF, 1083px 1301px #FFF, 620px 1744px #FFF, 1880px 913px #FFF, 306px 1232px #FFF, 1855px 510px #FFF, 1298px 1357px #FFF, 1605px 837px #FFF, 823px 1965px #FFF, 1743px 381px #FFF, 1120px 576px #FFF, 1412px 1378px #FFF, 404px 65px #FFF, 483px 1736px #FFF, 1841px 1913px #FFF, 324px 1570px #FFF, 1453px 1322px #FFF, 380px 1647px #FFF, 860px 1255px #FFF, 1182px 1482px #FFF, 1249px 19px #FFF, 859px 1033px #FFF, 1531px 1330px #FFF, 149px 577px #FFF, 708px 619px #FFF, 698px 1751px #FFF, 286px 191px #FFF, 1133px 1258px #FFF, 441px 1163px #FFF, 1042px 1683px #FFF, 1373px 1086px #FFF, 1231px 1222px #FFF, 815px 1612px #FFF, 159px 975px #FFF, 1326px 1458px #FFF, 1013px 1217px #FFF, 1005px 1669px #FFF, 1881px 1233px #FFF, 478px 1707px #FFF, 867px 1830px #FFF, 1819px 1208px #FFF, 304px 818px #FFF, 1991px 731px #FFF, 1531px 1346px #FFF, 279px 1155px #FFF, 475px 1109px #FFF, 743px 7px #FFF, 690px 1590px #FFF, 464px 1167px #FFF, 278px 1345px #FFF, 666px 897px #FFF, 378px 1071px #FFF, 1439px 1147px #FFF, 995px 1438px #FFF, 1701px 964px #FFF, 843px 937px #FFF, 963px 545px #FFF, 828px 1290px #FFF, 1806px 173px #FFF;
    }
  }

  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1834px 13748px #FFF, 504px 764px #FFF, 201px 223px #FFF, 1147px 1629px #FFF, 1393px 151px #FFF, 1047px 1539px #FFF, 1395px 949px #FFF, 1438px 1484px #FFF, 286px 56px #FFF, 359px 1954px #FFF, 372px 1768px #FFF, 298px 1px #FFF, 736px 382px #FFF, 1736px 1011px #FFF, 1205px 1177px #FFF, 866px 539px #FFF, 196px 1949px #FFF, 733px 227px #FFF, 794px 1552px #FFF, 936px 472px #FFF, 940px 1657px #FFF, 420px 1904px #FFF, 1882px 1379px #FFF, 176px 47px #FFF, 267px 1944px #FFF, 1346px 1428px #FFF, 381px 1466px #FFF, 179px 1195px #FFF, 633px 1937px #FFF, 1770px 1842px #FFF, 15px 1695px #FFF, 558px 310px #FFF, 1914px 114px #FFF, 1732px 1300px #FFF, 1960px 1604px #FFF, 115px 1544px #FFF, 317px 162px #FFF, 523px 475px #FFF, 528px 1268px #FFF, 1086px 79px #FFF, 1982px 1051px #FFF, 1698px 192px #FFF, 735px 521px #FFF, 302px 1714px #FFF, 353px 1339px #FFF, 980px 243px #FFF, 1340px 791px #FFF, 1693px 186px #FFF, 504px 892px #FFF, 411px 347px #FFF, 1699px 231px #FFF, 613px 827px #FFF, 559px 1204px #FFF, 1915px 1147px #FFF, 1175px 531px #FFF, 1504px 988px #FFF, 1818px 1851px #FFF, 1501px 171px #FFF, 974px 538px #FFF, 1221px 1106px #FFF, 452px 1397px #FFF, 1012px 356px #FFF, 634px 272px #FFF, 1012px 1845px #FFF, 1148px 1543px #FFF, 588px 832px #FFF, 733px 1927px #FFF, 1219px 1152px #FFF, 1783px 931px #FFF, 1490px 490px #FFF, 1601px 488px #FFF, 3px 1079px #FFF, 1154px 1295px #FFF, 1194px 397px #FFF, 1693px 1683px #FFF, 1145px 344px #FFF, 982px 1511px #FFF, 1240px 114px #FFF, 1917px 1504px #FFF, 223px 1750px #FFF, 1927px 661px #FFF, 1014px 305px #FFF, 1053px 167px #FFF, 635px 1090px #FFF, 430px 700px #FFF, 1611px 394px #FFF, 956px 1897px #FFF, 1315px 404px #FFF, 361px 1805px #FFF, 712px 1270px #FFF, 511px 1241px #FFF, 1671px 51px #FFF, 342px 1744px #FFF, 975px 486px #FFF, 1491px 112px #FFF, 1416px 1982px #FFF, 17px 1305px #FFF, 1824px 136px #FFF, 1253px 8px #FFF, 338px 960px #FFF;
    animation: animStar 150s linear infinite;
    overflow: hidden;
    position: relative;
    z-index: 0;

    &::after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: 1834px 13748px #FFF, 504px 764px #FFF, 201px 223px #FFF, 1147px 1629px #FFF, 1393px 151px #FFF, 1047px 1539px #FFF, 1395px 949px #FFF, 1438px 1484px #FFF, 286px 56px #FFF, 359px 1954px #FFF, 372px 1768px #FFF, 298px 1px #FFF, 736px 382px #FFF, 1736px 1011px #FFF, 1205px 1177px #FFF, 866px 539px #FFF, 196px 1949px #FFF, 733px 227px #FFF, 794px 1552px #FFF, 936px 472px #FFF, 940px 1657px #FFF, 420px 1904px #FFF, 1882px 1379px #FFF, 176px 47px #FFF, 267px 1944px #FFF, 1346px 1428px #FFF, 381px 1466px #FFF, 179px 1195px #FFF, 633px 1937px #FFF, 1770px 1842px #FFF, 15px 1695px #FFF, 558px 310px #FFF, 1914px 114px #FFF, 1732px 1300px #FFF, 1960px 1604px #FFF, 115px 1544px #FFF, 317px 162px #FFF, 523px 475px #FFF, 528px 1268px #FFF, 1086px 79px #FFF, 1982px 1051px #FFF, 1698px 192px #FFF, 735px 521px #FFF, 302px 1714px #FFF, 353px 1339px #FFF, 980px 243px #FFF, 1340px 791px #FFF, 1693px 186px #FFF, 504px 892px #FFF, 411px 347px #FFF, 1699px 231px #FFF, 613px 827px #FFF, 559px 1204px #FFF, 1915px 1147px #FFF, 1175px 531px #FFF, 1504px 988px #FFF, 1818px 1851px #FFF, 1501px 171px #FFF, 974px 538px #FFF, 1221px 1106px #FFF, 452px 1397px #FFF, 1012px 356px #FFF, 634px 272px #FFF, 1012px 1845px #FFF, 1148px 1543px #FFF, 588px 832px #FFF, 733px 1927px #FFF, 1219px 1152px #FFF, 1783px 931px #FFF, 1490px 490px #FFF, 1601px 488px #FFF, 3px 1079px #FFF, 1154px 1295px #FFF, 1194px 397px #FFF, 1693px 1683px #FFF, 1145px 344px #FFF, 982px 1511px #FFF, 1240px 114px #FFF, 1917px 1504px #FFF, 223px 1750px #FFF, 1927px 661px #FFF, 1014px 305px #FFF, 1053px 167px #FFF, 635px 1090px #FFF, 430px 700px #FFF, 1611px 394px #FFF, 956px 1897px #FFF, 1315px 404px #FFF, 361px 1805px #FFF, 712px 1270px #FFF, 511px 1241px #FFF, 1671px 51px #FFF, 342px 1744px #FFF, 975px 486px #FFF, 1491px 112px #FFF, 1416px 1982px #FFF, 17px 1305px #FFF, 1824px 136px #FFF, 1253px 8px #FFF, 338px 960px #FFF;
    }
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}

/*------------------------------- media query ---------------------------*/

@media screen and (max-width: 1440px) {
  .retodrop {
    .retodrop_main {
      .retodrop_main_info {
        h1 {
          font-size: 5.8rem;
        }

        .rocket_img {
          .rocket_main {
            width: 6rem;
          }

          .rocket_flam {
            position: absolute;
            left: -29px;
            bottom: -48px;
            width: 4rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .retodrop {
    .retodrop_main {
      .retodrop_main_info {
        h1 {
          font-size: 4.8rem;
        }

        p {
          font-size: 1.4rem;
        }

      }
    }

    .retodrop_progress {
      h3 {
        font-size: 3.55rem;
      }

      h2 {
        font-size: 4.2rem;
      }
    }

    .retodrop_Table {
      h2 {
        font-size: 3.9rem;
      }

      .retodrop_datatable {
        table {
          tr {
            &:first-child {
              border-top: none;
            }

            &:last-child {
              border-bottom: none;
            }

            th {
              font-size: 1.8rem;
            }

            td {
              font-size: 1.8rem;
            }
          }
        }
      }
    }

    .retodrop_footer {
      p {
        font-size: 1.6rem;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .retodrop {
    .retodrop_main {
      background-size: 100% auto;
      .retodrop_main_info {
        h1 {
          font-size: 4.2rem;
          padding: 0;
        }

        p {
          font-size: 1.2rem;
          line-height: normal;
          width: 50rem;

          span {
            font-size: 1.8rem;
          }
        }

      }
    }

    .retodrop_progress {
      margin-top: 0;

      h3 {
        font-size: 2.95rem;
      }

      h2 {
        font-size: 3.4rem;
      }
    }

    .retodrop_Table {
      h2 {
        font-size: 3.6rem;
      }
    }

    .retodrop_footer {
      p {
        font-size: 1.4rem;
        width: 50rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .retodrop {
    .retodrop_main {
      background-size: cover;
      .retodrop_main_info {
        h1 {
          font-size: 3.7rem;
          padding: 0;
        }

        p {
          font-size: 1.3rem;
          width: 38rem;

          span {
            font-size: 1.4rem;
          }
        }

      }
    }

    .retodrop_progress {
      margin-top: 0;

      h3 {
        font-size: 2.45rem;
      }

      h2 {
        font-size: 2.6rem;
      }
    }

    .retodrop_Table {
      h2 {
        font-size: 2.8rem;
      }

      .retodrop_datatable {
        table {
          tr {
            th {
              font-size: 1.5rem;
            }

            td {
              font-size: 1.5rem;
              padding: 0.1rem 2rem;
            }
          }
        }
      }
    }

    .retodrop_footer {
      p {
        font-size: 1.2rem;
        width: 38rem;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .retodrop {
    .retodrop_main {
      .retodrop_main_info {
        h1 {
          font-size: 3.7rem;
          padding: 0;
        }

        p {
          width: 27rem;

          span {
            font-size: 1.4rem;
          }
        }

      }
    }

    .retodrop_progress {
      h3 {
        font-size: 2rem;
      }

      h2 {
        font-size: 2.1rem;
      }

      .progress {
        width: 32rem;
        .progress_text{
          p{
            font-size: 1.3rem;
          }
        }
      }
    }

    .retodrop_Table {
      h2 {
        font-size: 2.6rem;
        text-shadow: 0rem 0.2rem 0 #7bcde1;
      }

      .retodrop_datatable {
        table {
          tr {
            th {
              font-size: 1.2rem;
            }

            td {
              font-size: 1.2rem;
              padding: 0.1rem 0.8rem;
            }
          }
        }
      }
    }

    .retodrop_footer {
      p {
        font-size: 1.2rem;
        width: 27rem;
      }
    }
  }
}

@media screen and (max-width: 476px) {
  .retodrop {
    .retodrop_main {
      .retodrop_main_info {
        h1 {
          font-size: 3.3rem;
          padding: 0;
        }
      }
    }

    .retodrop_progress {
      h3 {
        font-size: 1.7rem;
      }

      h2 {
        font-size: 1.7rem;
      }

      .progress {
        width: 27rem;
      }
    }

    .retodrop_Table {
      h2 {
        font-size: 2.3rem;
      }
    }
    .retodrop_footer {
      .primera_btn {
        button {
          padding: 1rem 1.5rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .retodrop {
    .retodrop_main {
      .retodrop_main_info {
        h1 {
          font-size: 2.8rem;
        }

        p {
          width: 22rem;

          span {
            font-size: 1.2rem;
          }
        }
      }
    }

    .retodrop_progress {
      h3 {
        font-size: 1.4rem;
      }

      h2 {
        font-size: 1.3rem;
      }

      .progress {
        width: 22rem;
      }

      .progress_text {
        p {
          font-size: 1.2rem;
        }
      }
    }

    .retodrop_Table {
      h2 {
        font-size: 1.9rem;
      }
    }

    .retodrop_footer {
      p {
        width: 18rem;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .retodrop {
    .retodrop_main {
      .retodrop_main_info {
        h1 {
          font-size: 2.4rem;
        }
        p{
          width: 18rem;
        }
      }
    }

    .retodrop_progress {
      h3 {
        font-size: 1.3rem;
      }

      h2 {
        font-size: 1.2rem;
      }

      .progress {
        width: 20rem;
      }

      .progress_text {
        p {
          font-size: 1.3rem;
        }
      }
    }

    .retodrop_Table {
      h2 {
        font-size: 2.4rem;
      }
    }

    .retodrop_footer {
      p {
        width: 18rem;
      }
    }
  }
}