<div class="container">
    <h1 class="section-head my-4"> {{ 'shared.brands' | translate }}</h1>
    <div class="background-primary mb-4 br-10 w-100 p-2 p-md-4 my_campaign_data">
        <div class="table-responsive datatabe_main">
            <table class="table table-striped row-border hover" id="brandDataTable">
                <thead>
                    <tr>
                        <th class="text-start"><span>{{ 'admin.brand' | translate }} {{ 'admin.name' | translate }}</span></th>
                        <th class="text-start"><span>{{ 'admin.emailId' | translate }}</span></th> 
                        <th class="text-start"><span>{{ 'admin.mobileNo' | translate }}</span></th>
                        <th class="text-start"><span>{{ 'admin.createdDate' | translate }}</span></th>
                        <th class="text-center"><span>{{ 'admin.status' | translate }}</span></th>
                        <th class="text-center"><span>{{ 'admin.actions' | translate }}</span></th>
                    </tr>
                </thead>
                <tbody class="text-start">
                    <tr *ngFor="let data of brandData">
                        <td class="name_text" >
                            <span *ngFor='let cmp of data.company_info'>{{ cmp.company_name }}</span>
                        </td>
                        <td>{{ data.email }}</td>
                        <td *ngFor='let cmp of data.company_info'>{{ cmp.phone }}</td>
                        <td *ngFor='let cmp of data.company_info'>{{ data.converted_created_at }}</td>
                        <td class="text-center" >
                            <div *ngIf="data.confirmed === 1">
                                <span class="badge rounded-pill text-success" *ngIf="data.active === 1">{{'shared.active' | translate}}</span>
                                <span class="badge rounded-pill text-warning" *ngIf="data.active === 0">{{'shared.inActive' | translate}}</span>
                            </div>
                            <div *ngIf="data.confirmed === 0">
                                <span class="badge rounded-pill text-warning" *ngIf="data.confirmed === 0">{{'shared.activationPending' | translate}}</span>
                            </div>
                        </td>
                        <td class="text-center">
                            <a title="Edit Brand" class="quick_acton" [routerLink]="'../brands-details/'+data.id" *ngIf="data.confirmed == 1">
                                <span class="text-success"><i class="fa fa-pencil"></i></span>
                            </a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>