@import "../../../../assets/css/core/variables/_colors.scss";

.login-frm {
    padding: 3rem;
    .back_login {
        font-size: 1rem;
        color: hsl(0deg 0% 100% / 80%);
        .heading-green {
            &:hover {
                color: hsl(0deg 0% 100% / 80%);
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .login-frm {
        padding: 1.5rem 1rem;
    }
}