<div class="how_its_work">
    <section class="how_its_main">
        <div class="container">
            <div class="how_its_info">
                <h1>{{ 'howItWorks.dropForCoin' | translate }}</h1>
                <p>{{ 'howItWorks.ifYouAreHereText' | translate }}</p>
            </div>
        </div>
    </section>
    <section class="how_its_primera">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(27,41,66, 0.7)" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(18,48,75, 0.6)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(37, 47, 72, 0.7)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(42, 58, 80, 0.6)" />
            </g>
        </svg>
        <div class="primera_info">
            <p>{{ 'howItWorks.dropForCoinIsThe' | translate }} <span>{{ 'howItWorks.firstPlatform' | translate }}</span>
                {{ 'howItWorks.ofTheMarket' | translate }}
                <span>{{ 'howItWorks.reward' | translate }}</span> {{ 'howItWorks.forYourActions' | translate }}
                <span>coins</span>.
            </p>
            <div class="stars">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
        </div>
    </section>
    <div class="sky_section">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
        <section class="how_fuction">
            <div class="container">
                <h2 class="fuction_title">{{ 'howItWorks.howDoesItWork' | translate }}</h2>
                <ul>
                    <li>
                        <div class="how_list">
                            <div class="how_item">1</div>
                            <p><span>{{ 'howItWorks.signUp' | translate }}</span> {{ 'howItWorks.onOurWebsite' |
                                translate }}
                                “<span>{{ 'howItWorks.tasks' | translate }}</span>”.</p>
                        </div>
                    </li>
                    <li>
                        <div class="how_list">
                            <div class="how_item">2</div>
                            <p><span>{{ 'howItWorks.makes' | translate }}</span> {{ 'howItWorks.theShares' | translate
                                }}
                                <span>coins.</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="how_list">
                            <div class="how_item">3</div>
                            <p><span>{{ 'howItWorks.change' | translate }}</span> {{ 'howItWorks.theCoinsFor' |
                                translate }}
                                <span>Twitch,</span> {{ 'howItWorks.cards' | translate }}
                                <span>{{ 'howItWorks.gift' | translate }} </span>{{ 'howItWorks.orEvenDirect' |
                                translate
                                }}<span> Paypal.</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="how_footer">
            <div class="primera_info">
                <div class="rocket_img">
                    <img src="../../assets/images/how_plane.png" alt="Rocket" class="rocket_main">
                    <img src="../../assets/images/how_flam.png" alt="Rocket" class="rocket_flam">
                </div>
                <h2>{{ 'howItWorks.dontWaitAny' | translate }}</h2>
            </div>
            <div class="primera_btn">
                <button type="button" (click)="goToRegistration()" class="btn btn-primary how_register"
                    title="REGISTRARSE AHORA">{{ 'howItWorks.registerNow' | translate }}</button>
            </div>
        </section>
    </div>
</div>