<div class="policy_main" *ngIf="policyName">
  <div class="policy_header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <h2 *ngIf="policyName === 'privacy'">Política de privacidad </h2>
          <h2 *ngIf="policyName === 'returnPolicy'">Política de devoluciones </h2>
          <h2 *ngIf="policyName === 'terms'">Términos y condiciones </h2>
          <h2 *ngIf="policyName === 'legalNote'">Nota legal </h2>
          <h2 *ngIf="policyName === 'cookiePolicy'">COOKIE POLICY</h2>
          <h2 *ngIf="policyName === 'facebookDataDeletionPolicy'">URL de instrucciones de eliminación de datos de
            Facebook</h2>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="policy_img">
            <img src="/assets/images/policy_02.png" alt="Policy image">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="policy_detail privacy" *ngIf="policyName === 'privacy'">
      <h6>Política de privacidad de Snisko Entertainment, S.L.</h6>
      <p>Esta Política de privacidad describe cómo se recopila, utiliza y comparte su información personal cuando visita
        o hace una compra en www.dropforcoin.com (denominado en lo sucesivo el “Sitio”).
      </p>
      <h5>INFORMACIÓN PERSONAL QUE RECOPILAMOS</h5>
      <p>Cuando visita el Sitio, recopilamos automáticamente cierta información sobre su dispositivo, incluida
        información sobre su navegador web, dirección IP, zona horaria y algunas de las cookies que están instaladas en
        su dispositivo. Además, a medida que navega por el Sitio, recopilamos información sobre las páginas web
        individuales o los productos que ve, las páginas web o los términos de búsqueda que lo remitieron al Sitio e
        información sobre cómo interactúa usted con el Sitio. Nos referimos a esta información recopilada
        automáticamente como “Información del dispositivo”.</p>
      <p>Recopilamos Información del dispositivo mediante el uso de las siguientes tecnologías:</p>
      <h5>COOKIES</h5>
      <p>Aquí tienes una lista de cookies que utilizamos. Las enlistamos para que puedas elegir si quieres optar por
        quitarlas o no.</p>
      <ul>
        <li>_session_id, unique token, sessional, Allows Shopify to store information about your session (referrer,
          landing page, etc).</li>
        <li>_shopify_visit, no data held, Persistent for 30 minutes from the last visit, Used by our website provider’s
          internal stats tracker to record the number of visits</li>
        <li>_shopify_uniq, no data held, expires midnight (relative to the visitor) of the next day, Counts the number
          of visits to a store by a single customer.</li>
        <li>cart, unique token, persistent for 2 weeks, Stores information about the contents of your cart.</li>
        <li>_secure_session_id, unique token, sessional</li>
        <li>storefront_digest, unique token, indefinite If the shop has a password, this is used to determine if the
          current visitor has access.</li>
        <li>- Los “Archivos de registro” rastrean las acciones que ocurren en el Sitio y recopilan datos, incluyendo su
          dirección IP, tipo de navegador, proveedor de servicio de Internet, páginas de referencia/salida y marcas de
          fecha/horario.</li>
        <li>- Las “balizas web”, las “etiquetas” y los “píxeles” son archivos electrónicos utilizados para registrar
          información sobre cómo navega usted por el Sitio.
        </li>
      </ul>
      <p>Además, cuando hace una compra o intenta hacer una compra a través del Sitio, recopilamos cierta información de
        usted, entre la que se incluye su nombre, dirección de facturación, dirección de envío, información de pago
        (incluidos los números de la tarjeta de crédito, Bizum, Paypal), dirección de
        correo electrónico y número de teléfono. Nos referimos a esta información como “Información del pedido”.</p>
      <p>Cuando hablamos de “Información personal” en la presente Política de privacidad, nos referimos tanto a la
        Información del dispositivo como a la Información del pedido.</p>
      <h5>¿CÓMO UTILIZAMOS SU INFORMACIÓN PERSONAL?</h5>
      <p>Usamos la Información del pedido que recopilamos en general para preparar los pedidos realizados a través del
        Sitio (incluido el procesamiento de su información de pago, la organización de los envíos y la entrega de
        facturas y/o confirmaciones de pedido). Además, utilizamos esta Información del pedido para: comunicarnos con
        usted;
        examinar nuestros pedidos en busca de fraudes o riesgos potenciales; y cuando de acuerdo con las preferencias
        que usted compartió con nosotros, le proporcionamos información o publicidad relacionada con nuestros productos
        o servicios.
      </p>
      <p>Utilizamos la Información del dispositivo que recopilamos para ayudarnos a detectar posibles riesgos y fraudes
        (en particular, su dirección IP) y, en general, para mejorar y optimizar nuestro Sitio (por ejemplo, al generar
        informes y estadísticas sobre cómo nuestros clientes navegan e interactúan con el Sitio y para evaluar el éxito
        de nuestras campañas publicitarias y de marketing).</p>
      <h5>COMPARTIR SU INFORMACIÓN PERSONAL</h5>
      <p>Compartimos su Información personal con terceros para que nos ayuden a utilizar su Información personal, tal
        como se describió anteriormente. Por ejemplo, utilizamos la tecnología de Shopify en nuestra tienda online.
        Puede obtener más información sobre cómo Shopify utiliza su Información personal aquí:
        <a href="https://www.shopify.com/legal/privacy" target="_blank"> https://www.shopify.com/legal/privacy.</a>.
        También utilizamos Google Analytics para ayudarnos a comprender cómo usan nuestros clientes el Sitio. Puede
        obtener más información sobre cómo Google utiliza su Información personal aquí:
        <a href="https://www.google.com/intl/en/policies/privacy/"
          target="_blank">https://www.google.com/intl/en/policies/privacy/</a>.
        Puede darse de baja de Google Analytics aquí:
        <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a>
      </p>
      <p>Finalmente, también podemos compartir su Información personal para cumplir con las leyes y regulaciones
        aplicables, para responder a una citación, orden de registro u otra solicitud legal de información que
        recibamos, o para proteger nuestros derechos.</p>

      <h5>PUBLICIDAD ORIENTADA POR EL COMPORTAMIENTO</h5>
      <p>Como se describió anteriormente, utilizamos su Información personal para proporcionarle anuncios publicitarios
        dirigidos o comunicaciones de marketing que creemos que pueden ser de su interés. Para más información sobre
        cómo funciona la publicidad dirigida, puede visitar la página educativa de la Iniciativa Publicitaria en la Red
        ("NAI" por sus siglas en inglés) en
        <a href="http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work."
          target="_blank">http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work</a>
      </p>
      <p>Puede darse de baja de la publicidad dirigida mediante los siguientes enlaces:</p>
      <p>INCLUIR ENLACES PARA DARSE DE BAJA DE CUALQUIER SERVICIO QUE SE UTILICE.</p>
      <p>ALGUNOS ENLACES FRECUENTES INCLUYEN:</p>
      <ul>
        <li>FACEBOOK - <a href="https://www.facebook.com/settings/?tab=ads" target="_blank">
            https://www.facebook.com/settings/?tab=ads</a></li>
        <li>GOOGLE - <a href="https://adssettings.google.com/authenticated?hl=es"
            target="_blank">https://adssettings.google.com/authenticated?hl=es</a></li>
        <li> BING - <a
            href="https://about.ads.microsoft.com/es-es/recursos/directivas/anuncios-personalizados">https://about.ads.microsoft.com/es-es/recursos/directivas/anuncios-personalizados</a>
        </li>
      </ul>
      <p>Además, puede darse de baja de algunos de estos servicios visitando el portal de exclusión voluntaria de
        Digital Advertising Alliance en:
        <a href="http://optout.aboutads.info/" target="_blank">http://optout.aboutads.info/</a>
      </p>
      <h5>NO RASTREAR</h5>
      <p>Tenga en cuenta que no alteramos las prácticas de recopilación y uso de datos de nuestro Sitio cuando vemos una
        señal de No rastrear desde su navegador.</p>
      <h5>SUS DERECHOS</h5>
      <p>Si usted es un residente europeo, tiene derecho a acceder a la información personal que tenemos sobre usted y a
        solicitar que su información personal sea corregida, actualizada o eliminada. Si desea ejercer este derecho,
        comuníquese con nosotros a través de la información de contacto que se encuentra a continuación.
      </p>
      <p>Además, si usted es un residente europeo, tenemos en cuenta que estamos procesando su información para cumplir
        con los contratos que podamos tener con usted (por ejemplo, si realiza un pedido a través del Sitio) o para
        perseguir nuestros intereses comerciales legítimos enumerados anteriormente. Además, tenga en cuenta que su
        información se transferirá fuera de Europa, incluidos Canadá y los Estados Unidos.</p>
      <h5>RETENCIÓN DE DATOS</h5>
      <p>Cuando realiza un pedido a través del Sitio, mantendremos su Información del pedido para nuestros registros a
        menos que y hasta que nos pida que eliminemos esta información.</p>
      <h5>MENORES</h5>
      <p>El sitio no está destinado a personas menores de 16 años de edad.</p>
      <h5>CAMBIOS</h5>
      <p>Podemos actualizar esta política de privacidad periódicamente para reflejar, por ejemplo, cambios en nuestras
        prácticas o por otros motivos operativos, legales o reglamentarios.</p>
      <h5>CONTÁCTENOS</h5>
      <p>Para obtener más información sobre nuestras prácticas de privacidad, si tiene alguna pregunta o si desea
        presentar una queja, contáctenos por correo electrónico a
        <a href="mailto:customerservice@playoffnations.com">customerservice@playoffnations.com</a>
        o por correo mediante el uso de la información que se proporciona a continuación:
      </p>
      <p> Avenida Costa Blanca, 16, Bloque 1, Escalera 1, Tercero A, Alicante, A, 03540, España</p>
    </div>
    <div class="policy_detail return" *ngIf="policyName === 'returnPolicy'">
      <p>Nuestra política dura 30 días. Si pasaron 30 días desde su compra, desafortunadamente no podemos ofrecerle un
        reembolso ni un cambio.</p>
      <p>Para ser elegible para una devolución, su artículo debe estar sin usar y en la misma condición en que lo
        recibió. También debe estar en el embalaje original.</p>
      <p>Varios tipos de productos están exentos de devolución. Los productos perecederos, como alimentos, flores,
        periódicos o revistas no se pueden devolver. Tampoco aceptamos productos que sean íntimos o sanitarios,
        materiales peligrosos ni líquidos o gases inflamables.</p>
      <p>Elementos adicionales que no se pueden devolver:</p>
      <ul>
        <li>Tarjetas de regalo</li>
        <li>Suscripciones de Twitch</li>
        <li>Productos de software descargables</li>
        <li>Algunos artículos de salud y cuidado personal</li>

      </ul>
      <p>Para completar su devolución, necesitamos un recibo o comprobante de compra.</p>
      <p>No devuelva su compra al fabricante.</p>
      <p>Hay ciertas situaciones en las que solo se otorgan reembolsos parciales: (si corresponde)</p>
      <ul>
        <li>Libro con signos evidentes de uso</li>
        <li>CD, DVD, cinta VHS, software, videojuego, cinta de cassette o disco de vinilo que fue abierto.</li>
        <li> Cualquier artículo que no se encuentre en su estado original, esté dañado o le falten piezas por razones
          que no se deban a nuestro error.</li>
        <li>Cualquier artículo devuelto más de 30 días después de la entrega.</li>

      </ul>
      <h5>Reembolsos (si corresponde)</h5>
      <p>Una vez recibida e inspeccionada su devolución, le enviaremos un correo electrónico para notificarle que
        recibimos el artículo que devolvió. También le notificaremos sobre la aprobación o el rechazo de su reembolso.
      </p>
      <p>Si se aprueba, se procesará su reembolso y se aplicará un crédito automáticamente en su tarjeta de crédito o
        método de pago original, dentro de una cierta cantidad de días.</p>
      <h5>Reembolsos tardíos o faltantes (si corresponde)</h5>
      <p>Si aún no recibió un reembolso, primero revise de nuevo su cuenta bancaria.</p>
      <p>Luego, comuníquese con la empresa de su tarjeta de crédito. Puede demorar algún tiempo antes de que su
        reembolso se vea reflejado de manera oficial.</p>
      <p>Después, contacte a su banco. A menudo es necesario un tiempo de procesamiento antes de poder ver reflejado un
        reembolso.</p>
      <p>Si ya hizo todo lo anterior y aún no recibió su reembolso, puede contactarnos escribiendo a
        <a href="mailto:customerservice@playoffnations.com">customerservice@playoffnations.com</a>
      </p>
      <h5>Artículos en oferta (si corresponde)</h5>
      <p>Solo se pueden reembolsar los artículos de precio normal. Lamentablemente, no se pueden reembolsar los
        artículos en oferta.</p>
      <h5>Cambios (si corresponde)</h5>
      <p>Solo reemplazamos los artículos si están defectuosos o dañados. Si necesita cambiarlo por el mismo artículo,
        envíenos un correo electrónico a
        <a href="mailto:customerservice@playoffnations.com">customerservice@playoffnations.com</a>
        y envíe su artículo a: Avenida Costa Blanca, 16, Bloque 1, Escalera 1, Tercero A, Alicante, A, 03540, España.

      </p>
      <h5>Regalos</h5>
      <p>Si el artículo estaba marcado como regalo cuando se compró y se lo enviamos directamente a usted, recibirá un
        crédito de regalo por el valor de su devolución. Una vez que recibamos el artículo devuelto, se le enviará un
        certificado de regalo por correo.</p>
      <p>Si el artículo no estaba marcado como regalo cuando se compró, o si la persona que hizo el regalo decidió que
        le enviaran el pedido para luego dárselo a usted, le enviaremos un reembolso a la persona que hizo el regalo y
        se enterará de su devolución.</p>
      <h5>Envío</h5>
      <p>Para devolver su producto, debe enviarlo por correo a: Avenida Costa Blanca, 16, Bloque 1, Escalera 1, Tercero
        A, Alicante, A, 03540, España.
      </p>
      <p>Los costos de envío para devolver su artículo corren por su cuenta. Los costos de envío no son reembolsables.
        Si recibe un reembolso, el costo de envío de la devolución se deducirá de su reembolso.</p>
      <p>Según dónde viva, el tiempo que tome recibir el cambio de su producto puede variar.
      </p>
      <p>Si envía un artículo de más de €75, se recomienda usar un servicio de envío con seguimiento o comprar un seguro
        de envío. No garantizamos que recibiremos la devolución de su artículo.</p>

    </div>
    <div class="policy_detail terms" *ngIf="policyName === 'terms'">
      <h5>TÉRMINOS DEL SERVICIO</h5>
      <h5>GENERALIDADES</h5>
      <p>Snisko Entertainment, S.L. gestiona este sitio web. En todo el sitio, los términos "nosotros", "nos" y
        "nuestro" se refieren en lo sucesivo a Snisko Entertainment, S.L.. Snisko Entertainment, S.L. ofrece esta página
        web, incluida toda la información, las herramientas y los servicios que se ponen en este sitio a disposición
        suya, el usuario, siempre y cuando acepte la totalidad de los términos, condiciones, políticas y avisos
        contemplados aquí.</p>
      <p>Al visitar nuestro sitio y/o comprarnos algo, usted interactúa con nuestro "Servicio" y reconoce como
        vinculantes los siguientes términos y condiciones (denominados en lo sucesivo "Términos del servicio",
        "Términos"), incluidos aquellos términos y condiciones adicionales y las políticas que se mencionan aquí y/o
        disponibles por medio de hipervínculo. Estos Términos del servicio se aplican a todos los usuarios del sitio,
        incluyendo de manera enunciativa mas no limitativa los usuarios que son navegadores, proveedores, clientes,
        comerciantes y/o que aporten contenido.</p>
      <p>Lea estos Términos del servicio detenidamente antes de acceder o utilizar nuestra página web. Al acceder o
        utilizar cualquier parte del sitio, usted acepta estos Términos del servicio. Si no acepta la totalidad de los
        términos y condiciones de este acuerdo, no podrá acceder al sitio web ni utilizar ningún servicio. Si estos
        Términos del servicio se considerasen una oferta, la aceptación se limita expresamente a los presentes Términos
        del servicio.</p>
      <p>Las nuevas funciones o herramientas que se agreguen a la tienda actual también estarán sujetas a los Términos
        del servicio. Puede revisar la versión más reciente de los Términos del servicio en cualquier momento en esta
        página. Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de los presentes Términos
        del servicio mediante la publicación de actualizaciones o cambios en nuestra página web. Es su responsabilidad
        revisar esta página periódicamente para ver los cambios. Su uso de la página web o el acceso a ella de forma
        continuada después de la publicación de cualquier cambio constituye la aceptación de dichos cambios.</p>
      <p>Nuestra tienda está alojada en Shopify Inc. Nos proporcionan la plataforma de comercio electrónico en línea que
        nos permite venderle nuestros productos y servicios.</p>
      <h5>SECCIÓN 1: TÉRMINOS DE LA TIENDA ONLINE</h5>
      <p>Al aceptar los presentes Términos del servicio, usted declara que tiene la mayoría de edad en su estado o
        provincia de residencia, o que es mayor de edad en su estado o provincia de residencia y que nos ha dado su
        consentimiento para permitir que cualquiera de las personas menores que dependen de usted utilice este sitio.
      </p>
      <p>No puede utilizar nuestros productos para ningún fin ilegal o no autorizado ni puede, al hacer uso del
        Servicio, infringir las leyes de su jurisdicción (incluyendo de manera enunciativa más no limitativa, las leyes
        de derechos de autor).</p>
      <p>No transmitirá ningún gusano o virus informáticos ni ningún código de naturaleza destructiva.</p>
      <p>El incumplimiento o violación de cualquiera de los Términos dará como resultado la rescisión inmediata de sus
        Servicios.</p>
      <h5>SECCIÓN 2: CONDICIONES GENERALES</h5>
      <p>Nos reservamos el derecho de rechazar el servicio a cualquier persona, por cualquier motivo, en cualquier
        momento.</p>
      <p>Usted comprende que su contenido (sin incluir la información de la tarjeta de crédito) puede transferirse sin
        cifrar e implicar (a) transmisiones en varias redes; y (b) cambios para adaptarse a los requisitos técnicos de
        conexión de redes o dispositivos y cumplir con ellos. La información de la tarjeta de crédito siempre se cifra
        durante la transferencia a través de las redes.</p>
      <p>Usted acepta no reproducir, duplicar, copiar, vender, revender ni aprovechar ninguna parte del Servicio, uso
        del Servicio o acceso al Servicio o cualquier contacto en el sitio web a través de la cual se presta el
        servicio, sin nuestro permiso expreso por escrito.</p>
      <p>Los encabezados utilizados en este acuerdo se incluyen solo para facilitar la lectura y no limitarán ni
        afectarán los presentes Términos.</p>
      <h5>SECCIÓN 3: EXACTITUD, TOTALIDAD Y CRONOLOGÍA DE LA INFORMACIÓN</h5>
      <p>No nos responsabilizamos si la información disponible en este sitio no es precisa, completa o actualizada. El
        material presentado en este sitio se proporciona solo para información general y no se debe confiar en él ni
        utilizarlo como la única base para tomar decisiones sin consultar fuentes de información principales, más
        precisas, más completas o más recientes. Al confiar en cualquier material de este sitio lo hace por su cuenta y
        riesgo.
      </p>
      <p>Este sitio puede contener cierta información histórica. La información histórica, inevitablemente, no es actual
        y se proporciona únicamente como referencia. Nos reservamos el derecho de modificar el contenido de este sitio
        en cualquier momento, pero no tenemos la obligación de actualizar ninguna información en nuestro sitio. Usted
        acepta que es su responsabilidad controlar los cambios en nuestro sitio.</p>
      <h5>SECCIÓN 4: MODIFICACIONES AL SERVICIO Y PRECIOS</h5>
      <p>Los precios de nuestros productos están sujetos a cambios sin previo aviso.</p>
      <p>Nos reservamos el derecho de modificar o discontinuar el Servicio (o cualquier parte o contenido del mismo) sin
        previo aviso en cualquier momento.</p>
      <p>No seremos responsables ante usted ni ante ningún tercero por ninguna modificación, cambio de precio,
        suspensión o interrupción del Servicio.</p>
      <h5>SECCIÓN 5: PRODUCTOS O SERVICIOS (si corresponde)</h5>
      <p>Ciertos productos o servicios pueden estar disponibles exclusivamente online a través del sitio web. Estos
        productos o servicios pueden tener cantidades limitadas y están sujetos a devolución o cambio solo de acuerdo
        con nuestra Política de devolución.</p>
      <p>Hemos hecho todo lo viable para mostrar con la mayor precisión posible los colores y las imágenes de nuestros
        productos que aparecen en la tienda. No podemos garantizar que la visualización de cualquier color en el monitor
        de su computadora sea precisa.</p>
      <p>Nos reservamos el derecho, pero no estamos obligados, de limitar las ventas de nuestros productos o servicios a
        cualquier persona, región geográfica o jurisdicción. Podemos ejercer este derecho caso por caso. Nos reservamos
        el derecho de limitar las cantidades de cualquier producto o servicio que ofrecemos. Todas las descripciones de
        los productos o los precios de los productos están sujetos a cambios en cualquier momento y sin previo aviso, a
        nuestra entera discreción. Nos reservamos el derecho de discontinuar cualquier producto en cualquier momento.
        Cualquier oferta de cualquier producto o servicio que se realice en este sitio no tiene validez donde dicho
        producto o servicio esté prohibido.</p>
      <p>No garantizamos que la calidad de cualquier producto, servicio, información u otro material que usted haya
        comprado u obtenido cumplirá con sus expectativas, o que cualquier error en el Servicio se corregirá.</p>
      <h5>SECCIÓN 6: EXACTITUD DE LA FACTURACIÓN Y DE LA INFORMACIÓN DE LA CUENTA</h5>
      <p>Nos reservamos el derecho de rechazar cualquier pedido que realice en nuestra tienda. Podemos, a nuestro
        exclusivo criterio, limitar o cancelar las cantidades compradas por persona, por hogar o por pedido. Estas
        restricciones pueden incluir pedidos realizados con la misma cuenta de cliente, la misma tarjeta de crédito o
        pedidos que usen la misma dirección de facturación o de envío. En el caso de que realicemos un cambio o
        cancelemos un pedido, intentaremos notificarle vía correo electrónico o la dirección de facturación / número de
        teléfono proporcionados en el momento en que se realizó el pedido. Nos reservamos el derecho de limitar o
        prohibir los pedidos que, a nuestra entera discreción, parezcan haber sido realizados por comerciantes,
        revendedores o distribuidores.</p>
      <p>Usted acepta suministrar información completa y precisa de la compra y cuenta actual, para todas las compras
        realizadas en nuestra tienda. Usted acepta actualizar rápidamente su cuenta y demás informaciones, entre ellas,
        su dirección de correo electrónico, los números de tarjeta de crédito y las fechas de vencimiento, para que
        podamos completar sus transacciones y contactarlo según sea necesario.</p>
      <p>Para obtener más información, consulte nuestra Política de devoluciones.</p>
      <h5>SECCIÓN 7: HERRAMIENTAS OPCIONALES</h5>
      <p>Podemos proporcionarle acceso a herramientas de terceros que no supervisamos, ni tenemos ningún control sobre
        ellas, ni tampoco contribuimos.</p>
      <p>Usted reconoce y acepta que brindamos acceso a dichas herramientas "tal como se encuentran" y "según
        disponibilidad" sin garantías, representaciones ni condiciones de ningún tipo y sin ningún tipo de respaldo. No
        tendremos ninguna responsabilidad como consecuencia del uso que haga de herramientas opcionales de terceros o en
        relación a ellas.</p>
      <p>Cualquier uso que haga de las herramientas opcionales ofrecidas a través del sitio es por su cuenta y riesgo, y
        debe asegurarse de estar familiarizado con los términos según los cuales los proveedores externos relevantes
        suministran dichas herramientas y aprobarlos.</p>
      <p>También podemos, en el futuro, ofrecer nuevos servicios o funciones a través del sitio web (incluido el
        lanzamiento de nuevas herramientas y recursos). Estas nuevas funciones o servicios también estarán sujetos a los
        presentes Términos de servicio.</p>
      <h5>SECCIÓN 8: ENLACES DE TERCEROS</h5>
      <p>Algunos contenidos, productos y servicios disponibles a través de nuestro Servicio pueden incluir recursos de
        terceros.</p>
      <p>Los enlaces de terceros en este sitio pueden dirigirlo a páginas web de terceros que no están afiliados a
        nosotros. No somos responsables de examinar o evaluar el contenido o la exactitud, ni garantizamos ni asumiremos
        ninguna obligación ni responsabilidad por los recursos o páginas web de terceros, ni por ningún otro material,
        producto o servicio de terceros.</p>
      <p>No somos responsables de ningún daño o perjuicio relacionado con la compra o el uso de bienes, servicios,
        recursos, contenido o cualquier otra transacción realizada en conexión con sitios web de terceros. Revise
        cuidadosamente las políticas y prácticas de terceros, y asegúrese de comprenderlas antes de participar en
        cualquier transacción. Las quejas, reclamos, inquietudes o preguntas referentes a productos de terceros deben
        dirigirse a estos.</p>
      <h5>SECCIÓN 9: COMENTARIOS DE LOS USUARIOS, OPINIONES Y OTRAS COMUNICACIONES</h5>
      <p>Si, a petición nuestra, usted envía ciertas comunicaciones específicas (por ejemplo, participaciones en un
        concurso) o, sin una solicitud nuestra, envía ideas creativas, sugerencias, propuestas, planes u otros
        materiales, ya sea online, por correo electrónico, por correo postal, o de otro modo (denominado en lo sucesivo
        y de manera colectiva, 'comentarios'), usted acepta que podemos, en cualquier momento, sin restricción: editar,
        copiar, publicar, distribuir, traducir y usar en cualquier medio cualquier comentario que usted nos envíe. No
        tenemos ni tendremos ninguna obligación (1) de mantener ningún comentario de manera confidencial; (2) pagar
        alguna compensación por cualquier comentario; o (3) responder a cualquier comentario.</p>
      <p>Podemos, pero no tenemos la obligación de monitorear, editar o eliminar contenido que a nuestra entera
        discreción determinemos que es ilegal, ofensivo, amenazante, calumnioso, difamatorio, pornográfico, obsceno u
        objetable, o que infrinja la propiedad intelectual de cualquiera de las partes o de los presentes Términos del
        servicio.</p>
      <p>Usted acepta que sus comentarios no infringirán ningún derecho de terceros, incluidos los derechos de autor,
        marca registrada, privacidad, personalidad u otro derecho personal o de propiedad. Además, acepta que sus
        comentarios no contendrán material difamatorio, ilegítimo, abusivo u obsceno, ni contendrán ningún virus
        informático ni otro software dañino que pueda afectar de cualquier manera el funcionamiento del Servicio o de
        cualquier sitio web relacionado. No puede utilizar una dirección de correo electrónico falsa, simular ser otra
        persona o engañarnos o engañar a terceros sobre el origen de los comentarios. Usted es el único responsable de
        los comentarios que realice y de su exactitud. No asumimos ninguna responsabilidad ni ninguna obligación por los
        comentarios publicados por usted o por un tercero.</p>
      <h5>SECCIÓN 10: INFORMACIÓN PERSONAL</h5>
      <p>El envío de la información personal que haga a través de la tienda se rige por nuestra Política de privacidad.
        Para ver nuestra Política de privacidad</p>
      <h5>SECCIÓN 11: ERRORES, INEXACTITUDES Y OMISIONES</h5>
      <p>Puede haber información en nuestro sitio o en el Servicio que, ocasionalmente, contenga errores tipográficos,
        inexactitudes u omisiones que puedan relacionarse con descripciones de productos, precios, promociones, ofertas,
        cargos por envío de productos, tiempos de tránsito y disponibilidad. Nos reservamos el derecho de corregir
        cualquier error, inexactitud u omisión, de cambiar o actualizar información, o cancelar pedidos si alguna
        información en el Servicio o en cualquier página web relacionada es inexacta en cualquier momento sin previo
        aviso (incluso después de haber enviado su pedido).</p>
      <P>No asumimos ninguna obligación de actualizar, modificar o aclarar la información en el Servicio o en cualquier
        sitio web relacionado, incluyendo de manera enunciativa pero no limitativa, la información de precios, excepto
        cuando lo exija la ley. Ninguna actualización especificada o fecha de actualización aplicada en el Servicio o en
        cualquier sitio web relacionado debe tomarse para indicar que toda la información en el Servicio o en cualquier
        sitio web relacionado se modificó o actualizó.</P>
      <h5>SECCIÓN 12: USOS PROHIBIDOS</h5>
      <p>Además de las prohibiciones establecidas en los Términos del servicio, se le prohíbe utilizar el sitio o su
        contenido (a) para cualquier propósito ilegal; (b) para solicitar a otros que realicen o participen en cualquier
        acto ilegal; (c) para infringir cualquier reglamento, norma, ley u ordenanza local internacional, federal,
        provincial o estatal; (d) para infringir o violar nuestros derechos de propiedad intelectual o los derechos de
        propiedad intelectual de otros; (e) acosar, abusar, insultar, dañar, difamar, calumniar, denigrar, intimidar o
        discriminar por motivos de género, orientación sexual, religión, etnia, raza, edad, nacionalidad o discapacidad;
        (f) enviar información falsa o engañosa;
        (g) cargar o transmitir virus o cualquier otro tipo de código dañino que afecte o pueda afectar a la
        funcionalidad o el funcionamiento del Servicio o de cualquier sitio web relacionado, de otros sitios web o de
        Internet; (h) recopilar o rastrear la información personal de otros; (i) enviar correo no deseado, phishing,
        pharm, pretexto, spider, rastrear o extraer; (j) para cualquier propósito obsceno o inmoral; o (k) para
        interferir o eludir las funciones de seguridad del Servicio o de cualquier sitio web relacionado, o de otros
        sitios web o de Internet. Nos reservamos el derecho de dar por terminado su uso del Servicio o de cualquier
        sitio web relacionado por infringir cualquiera de los usos prohibidos.
      </p>
      <h5>SECCIÓN 13: DESCARGO DE RESPONSABILIDAD DE GARANTÍAS; LIMITACIÓN DE RESPONSABILIDAD</h5>
      <p>No garantizamos, representamos ni aseguramos que el uso que haga de nuestro servicio será sin interrupciones,
        oportuno, seguro o sin errores.</p>
      <p>No garantizamos que los resultados que se puedan obtener del uso del servicio sean exactos o confiables.</p>
      <p>Usted acepta que periódicamente, podamos eliminar el servicio por lapsos de tiempo indefinidos o cancelar el
        servicio en cualquier momento, sin notificarle.</p>
      <p>Usted acepta expresamente que su uso del servicio o la imposibilidad de utilizarlo corre por su riesgo. El
        servicio y todos los productos y servicios que se le entregan a través del servicio (salvo que así lo
        especifiquemos nosotros) se ofrecen "tal como están" y "según disponibilidad" para su uso, sin ninguna
        representación, garantía o condición de ningún tipo, ya sea expresa o implícita, entre las que se incluyen todas
        las garantías implícitas o condiciones de comerciabilidad, calidad comercial, idoneidad para un propósito
        particular, durabilidad, título y no violación.</p>
      <p>En ningún caso Snisko Entertainment, S.L., nuestros directores, funcionarios, empleados, afiliados, agentes,
        contratistas, pasantes, proveedores, proveedores de servicios o licenciantes serán responsables de cualquier
        lesión, pérdida, reclamo o cualquier daño directo, indirecto, incidental, punitivo, especial o consecuente de
        cualquier tipo, incluyendo de manera enunciativa más no limitativa; la pérdida de beneficios, pérdida de
        ingresos, pérdida de ahorros, pérdida de datos, costos de reemplazo o daños similares, ya sea por contrato,
        perjuicio (incluida la negligencia), responsabilidad estricta o de otro tipo, que surjan del uso que haga de
        cualquiera de los servicios o de cualquier producto adquirido por medio del servicio, o para cualquier otro
        reclamo relacionado de alguna manera con su uso del servicio o de cualquier producto, incluidos, entre otros,
        cualquier error u omisión en cualquier contenido, o cualquier pérdida o daño de cualquier tipo en el que se haya
        incurrido como resultado del uso del servicio o de cualquier contenido (o producto) publicado, transmitido o
        puesto a disposición a través del servicio, incluso si se informa de su posibilidad.</p>
      <p>Debido a que algunos estados o jurisdicciones no permiten la exclusión o la limitación de la responsabilidad
        por daños consecuentes o incidentales, en dichos estados o jurisdicciones, nuestra responsabilidad se limitará a
        la extensión máxima de lo permitido por la ley.</p>
      <h5>SECCIÓN 14: INDEMNIZACIÓN</h5>
      <p>Usted acepta indemnizar, defender y mantener indemne a Snisko Entertainment, S.L. y a nuestra empresa matriz,
        subsidiarias, afiliadas, asociados, funcionarios, directores, agentes, contratistas, licenciantes, proveedores
        de servicios, subcontratistas, proveedores, pasantes y empleados, de cualquier reclamo o demanda, incluidos los
        honorarios razonables de abogados, en los que un tercero haya incurrido debido a su incumplimiento de los
        presentes Términos del servicio o de los documentos que incorporan como referencia o que surjan por su
        incumplimiento de los mismos, o por la violación de cualquier ley o derechos de un tercero que haga.</p>
      <h5>SECCIÓN 15: DIVISIBILIDAD</h5>
      <p>En caso de que se determine que alguna disposición de los presentes Términos del servicio sea ilegal, nula o
        inaplicable, dicha disposición será, no obstante, ejecutable en la medida en que lo permita la legislación
        aplicable, y la parte inaplicable se considerará separada de los presentes Términos del servicio, sin que dicha
        determinación afecte a la validez y aplicabilidad de las demás disposiciones.</p>
      <h5>SECCIÓN 16: RESCISIÓN</h5>
      <p>Las obligaciones y responsabilidades de las partes incurridas antes de la fecha de rescisión seguirán vigentes
        después de la rescisión de este contrato a todos los efectos.
        Estos Términos del servicio se encuentran vigentes a menos que usted o nosotros los rescindamos. Puede rescindir
        los presentes Términos del servicio en cualquier momento al notificarnos que ya no desea utilizar nuestros
        Servicios o cuando cese de utilizar nuestro sitio.
      </p>
      <p>Si a nuestro juicio usted incumple, o sospechamos que ha incumplido con cualquier término o disposición de los
        presentes Términos del servicio, podemos rescindir igualmente este acuerdo en cualquier momento sin previo aviso
        y usted seguirá siendo responsable de todos los importes adeudados, hasta la fecha de rescisión inclusive; y/o
        en consecuencia podemos denegarle el acceso a nuestros Servicios (o a parte de ellos).</p>
      <h5>SECCIÓN 17: ACUERDO COMPLETO</h5>
      <p>El hecho de que no ejerzamos o hagamos valer algún derecho o disposición de los presentes Términos del Servicio
        no constituirá una renuncia a dicho derecho o disposición.</p>
      <p>Estos Términos de servicio y cualquier política o regla de funcionamiento que hayamos publicado en este sitio o
        con respecto al Servicio constituye el acuerdo y el entendimiento completo entre usted y nosotros, y rigen su
        uso del Servicio, sustituyendo a cualquier acuerdo, comunicación o propuesta anterior o contemporánea, ya sea
        oral o escrita, entre usted y nosotros (incluyendo de manera enunciativa más no limitativa, las versiones
        anteriores de los Términos del servicio).</p>
      <p>Cualquier ambigüedad en la interpretación de los presentes Términos del servicio no se interpretará en contra
        de la parte redactora.</p>
      <h5>SECCIÓN 18: LEY APLICABLE</h5>
      <p>Los presentes Términos del servicio y cualquier acuerdo por separado por el cual le proporcionemos Servicios se
        regirán e interpretarán de acuerdo con las leyes de Avenida Costa Blanca, 16, Bloque 1, Escalera 1, Tercero A,
        Alicante, A, 03540, España.</p>
      <h5>SECCIÓN 19: CAMBIOS EN LOS TÉRMINOS DEL SERVICIO</h5>
      <p>Puede revisar la versión más reciente de los Términos del servicio en cualquier momento en esta página.</p>
      <p>Nos reservamos el derecho, a nuestra entera discreción, de actualizar, cambiar o sustituir cualquier parte de
        los presentes Términos del servicio mediante la publicación de actualizaciones y cambios en nuestro sitio web.
        Es su responsabilidad consultar nuestro sitio web periódicamente para ver los cambios. El uso que haga de
        nuestra página web o del Servicio o su acceso a cualquiera de estos de forma continua después de la publicación
        de cualquier cambio en los presentes Términos del servicio, constituye la aceptación de dichos cambios.</p>
      <h5>SECTION 20: INFORMACIÓN DE CONTACTO</h5>
      <p>Las preguntas sobre los Términos del servicio se deben enviar a
        <a href="mailto:customerservice@playoffnations.com">customerservice@playoffnations.com</a>
      </p>
    </div>
    <div class="policy_detail legalNote" *ngIf="policyName === 'legalNote'">
      <h5>Nota legal</h5>
      <p style="text-align: justify;">Todos los premios recibidos están sujetos a la Ley 35/2006 de 28 de noviembre de
        2006, por la que se aprueba el Personal
        Impuesto sobre la Renta y modifica parcialmente las Leyes del Impuesto sobre Sociedades, del Impuesto sobre la
        Renta de No Residentes y del Impuesto sobre el Patrimonio;
        Real Decreto núm. 439/2007, de 30 de marzo de 2007, por la que se aprueba su Reglamento y sus modificaciones
        posteriores;
        Disposiciones Transitorias Primera y Tercera de la Ley 13/2011, de 27 de mayo de 2011, de Regulación del Juego;
        la disposición adicional primera de la Ley 25/2009, de 22 de diciembre de 2009, por la que se modifican varias
        leyes para adaptar
        les a la Ley de libre acceso a las actividades de servicios y su ejercicio, y el artículo 48,
        apartado 6 y apartado 7, número 12 de la Ley 13/2011, de 27 de mayo de 2011, de Regulación del Juego; Pedido
        EHA / 388/2010 de 19 de febrero, que aprueba el impuesto sobre apuestas y combinaciones aleatorias,
        autoliquidación,
        determina el lugar y forma de presentación y establece las condiciones
        y procedimiento para su presentación telemática y demás disposiciones concordantes y aquellas
        dictado en su desarrollo, por lo que, en su caso, será responsabilidad del comercial
        La entidad SNISKO ENTERTAIMENT S. L. será responsable del pago a cuenta o de la práctica de
        la adecuada retención del Impuesto sobre la Renta de las Personas Físicas, cuando sea conforme a la legislación
        en vigor. En relación con lo anterior y en cumplimiento de la normativa tributaria vigente,
        SNISKO ENTERTAIMENT S.L. realizará las correspondientes retenciones y abono a cuenta
        del premio otorgado, en su caso, siendo el premiado el único y exclusivo
        obligación de declararlo, eximiendo a SNISKO ENTERTAIMENT S.L. de cualquier responsabilidad por el fallo
        del contribuyente para declarar los premios recibidos a la Agencia Tributaria.
      </p>
    </div>
    <div class="policy_detail cookiePolicy" *ngIf="policyName === 'cookiePolicy'">
      <h5>POLÍTICA DE COOKIES</h5>
      <h5>www.dropforcoin.com</h5>
      <p style="text-align: justify;">El acceso a este Sitio Web puede implicar la utilización de cookies. Las cookies
        son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada Usuario —en los
        distintos dispositivos que pueda utilizar para navegar— para que el servidor recuerde cierta información que
        posteriormente y únicamente el servidor que la implementó leerá. Las cookies facilitan la navegación, la hacen
        más amigable, y no dañan el dispositivo de navegación.
      </p>
      <p>
        Las cookies son procedimientos automáticos de recogida de información relativa a las preferencias determinadas
        por el Usuario durante su visita al Sitio Web con el fin de reconocerlo como Usuario, y personalizar su
        experiencia y el uso del Sitio Web, y pueden también, por ejemplo, ayudar a identificar y resolver errores.
      </p>
      <p>
        La información recabada a través de las cookies puede incluir la fecha y hora de visitas al Sitio Web, las
        páginas visionadas, el tiempo que ha estado en el Sitio Web y los sitios visitados justo antes y después del
        mismo. Sin embargo, ninguna cookie permite que esta misma pueda contactarse con el número de teléfono del
        Usuario o con cualquier otro medio de contacto personal. Ninguna cookie puede extraer información del disco duro
        del Usuario o robar información personal. La única manera de que la información privada del Usuario forme parte
        del archivo Cookie es que el usuario dé personalmente esa información al servidor.
      </p>
      <p>
        Las cookies que permiten identificar a una persona se consideran datos personales. Por tanto, a las mismas les
        será de aplicación la Política de Privacidad anteriormente descrita. En este sentido, para la utilización de las
        mismas será necesario el consentimiento del Usuario. Este consentimiento será comunicado, en base a una elección
        auténtica, ofrecido mediante una decisión afirmativa y positiva, antes del tratamiento inicial, removible y
        documentado.
      </p>
      <h5>Cookies propias</h5>
      <p>
        Son aquellas cookies que son enviadas al ordenador o dispositivo del Usuario y gestionadas exclusivamente por
        Drop For Coin para el mejor funcionamiento del Sitio Web. La información que se recaba se emplea para mejorar la
        calidad del Sitio Web y su Contenido y su experiencia como Usuario. Estas cookies permiten reconocer al Usuario
        como visitante recurrente del Sitio Web y adaptar el contenido para ofrecerle contenidos que se ajusten a sus
        preferencias.
      </p>
      <h5>Cookies de terceros</h5>
      <p>
        Son cookies utilizadas y gestionadas por entidades externas que proporcionan a Drop For Coin servicios
        solicitados por este mismo para mejorar el Sitio Web y la experiencia del usuario al navegar en el Sitio Web.
        Los principales objetivos para los que se utilizan cookies de terceros son la obtención de estadísticas de
        accesos y analizar la información de la navegación, es decir, cómo interactúa el Usuario con el Sitio Web.
      </p>
      <p>
        La información que se obtiene se refiere, por ejemplo, al número de páginas visitadas, el idioma, el lugar a la
        que la dirección IP desde el que accede el Usuario, el número de Usuarios que acceden, la frecuencia y
        reincidencia de las visitas, el tiempo de visita, el navegador que usan, el operador o tipo de dipositivo desde
        el que se realiza la visita. Esta información se utiliza para mejorar el Sitio Web, y detectar nuevas
        necesidades para ofrecer a los Usuarios un Contenido y/o servicio de óptima calidad. En todo caso, la
        información se recopila de forma anónima y se elaboran informes de tendencias del Sitio Web sin identificar a
        usuarios individuales.
      </p>
      <p>
        Puede obtener más información sobre las cookies, la información sobre la privacidad, o consultar la descripción
        del tipo de cookies que se utiliza, sus principales características, periodo de expiración, etc. en el
        siguiente(s) enlace(s):
      </p>
      <p>Paypal: <a
          href="https://www.paypal.com/myaccount/privacy/cookiePrefs">https://www.paypal.com/myaccount/privacy/cookiePrefs</a>
      </p>
      <p>La(s) entidad(es) encargada(s) del suministro de cookies podrá(n) ceder esta información a terceros, siempre y
        cuando lo exija la ley o sea un tercero el que procese esta información para dichas entidades.
      </p>
      <h5>Cookies de redes sociales</h5>
      <p>Drop For Coin incorpora plugins de redes sociales, que permiten acceder a las mismas a partir del Sitio Web.
        Por esta razón, las cookies de redes sociales pueden almacenarse en el navegador del Usuario. Los titulares de
        dichas redes sociales disponen de sus propias políticas de protección de datos y de cookies, siendo ellos
        mismos, en cada caso, responsables de sus propios ficheros y de sus propias prácticas de privacidad. El Usuario
        debe referirse a las mismas para informarse acerca de dichas cookies y, en su caso, del tratamiento de sus datos
        personales. Únicamente a título informativo se indican a continuación los enlaces en los que se pueden
        consultar dichas políticas de privacidad y/o de cookies:
      </p>
      <ul>
        <li>Facebook: <a href="https://www.facebook.com/policies/cookies/" target="_blank">
            https://www.facebook.com/policies/cookies/</a></li>
        <li>Twitter: <a href="https://twitter.com/es/privacy" target="_blank">https://twitter.com/es/privacy</a></li>
        <li>Instagram: <a href="https://help.instagram.com/1896641480634370?ref=ig"
            target="_blank">https://help.instagram.com/1896641480634370?ref=ig</a></li>
        <li>YouTube: <a href="https://policies.google.com/privacy?hl=es-419&gl=mx"
            target="_blank">https://policies.google.com/privacy?hl=es-419&gl=mx</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/legal/cookie-policy?trk=hp-cookies"
            target="_blank">https://www.linkedin.com/legal/cookie-policy?trk=hp-cookies</a></li>
      </ul>
      <p>Deshabilitar, rechazar y eliminar cookies</p>
    </div>
    <div class="policy_detail facebookDataDeletionPolicy" *ngIf="policyName === 'facebookDataDeletionPolicy'">
      <h5>URL de instrucciones de eliminación de datos de Facebook</h5>
      <h5>www.dropforcoin.com</h5>
      <p>Dropforcoin no guarda sus datos personales en nuestro servidor. De acuerdo con la política de Facebook, tenemos
        que proporcionar al Usuario
        URL de devolución de llamada de eliminación de datos o URL de instrucciones de eliminación de datos.</p>
      <p>Si desea eliminar sus actividades para la aplicación Dropforcoin, puede eliminar su información siguiendo estos
        pasos:</p>
      <ul>
        <li>1: Vaya a Configuración y privacidad de su cuenta de Facebook. Haga clic en "Configuración"</li>
        <li>2: Busque "Aplicaciones y sitios web" y verá todas las aplicaciones y sitios web que vinculó con su
          Facebook.
        </li>
        <li>3: Busque y haga clic en "Dropforcoin" en la barra de búsqueda.</li>
        <li>4: Desplácese y haga clic en "Eliminar".</li>
        <li>5: Felicitaciones, ha eliminado con éxito las actividades de su aplicación.</li>
      </ul>
      <p>Traducido con www.DeepL.com/Translator (free version)</p>
    </div>
  </div>
</div>