<div class="container">
    <div class="text-center py-5">
        <img src="/assets/images/Emails-confirm.png" alt="Welcome" class="max-img" />
    </div>
    <div class="text-center mb-4">
        <p class="heading-secoundry">
            {{ 'shared.linkExpired' | translate }}
        </p>
    </div>
    <div class="col-md-12 py-3" style="display: inline-flex; justify-content: center;">
        <div class="row-md-6 text-center" style="margin: 0 10px;">
            <a routerLink="/brand/forgotpassword" class="btn btn-green">{{ 'emailConfirmation.getEmail' | translate }}</a>
        </div>
    </div>

</div>