<div class="container">
  <h1 class="section-head text-center my-4">{{ 'shared.resetPassword' | translate }}</h1>
  <form [formGroup]="resetPasswordForm">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <div class="background-primary reset-pass br-10 mb-1">
          <p class="heading-secoundry mb-4">{{ 'shared.resetPasswordText' | translate }}</p>
          <div class="col-md-12">
            <div class="form-group">
              <label class="lbl-input">{{ 'shared.password' | translate }}</label>
              <input name="password" [type]="showPassword ? 'text' : 'password'" class="form-control pwd-control"
                formControlName="password">
              <div class="btn-eye">
                <i alt="show" class="fa fa-eye eye-show" (click)="showPassword = !showPassword"
                  [class.hide]="showPassword"></i>
                <i alt="hide" class="fa fa-eye-slash eye-hide" (click)="showPassword = !showPassword"
                  [class.hide]="!showPassword"></i>
              </div>
              <div
                *ngIf="resetPasswordForm.controls['password'].errors && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched) || submitted">
                <div *ngIf="resetPasswordForm.controls['password'].errors?.required" class="text-danger error-msg">
                  {{ 'shared.passwordRequired' | translate }}</div>
                <div *ngIf="resetPasswordForm.controls['password'].errors?.pattern" class="text-danger error-msg">
                  {{ 'shared.passwordPattern' | translate }} </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="lbl-input">{{ 'shared.confirmPassword' | translate }}</label>
              <input name="password" [type]="showConfPassword ? 'text' : 'password'" class="form-control pwd-control"
                formControlName="confirmPassword">
              <div class="btn-eye">
                <i alt="show" class="fa fa-eye eye-show" (click)="showConfPassword = !showConfPassword"
                  [class.hide]="showConfPassword"></i>
                <i alt="hide" class="fa fa-eye-slash eye-hide" (click)="showConfPassword = !showConfPassword"
                  [class.hide]="!showConfPassword"></i>
              </div>
              <div
                *ngIf="resetPasswordForm.controls['confirmPassword'].errors && (resetPasswordForm.controls['confirmPassword'].dirty || resetPasswordForm.controls['confirmPassword'].touched) || submitted">
                <div *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.required"
                  class="text-danger error-msg">{{ 'shared.confirmPasswordRequired' | translate }}
                </div>
                <div *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.pattern"
                  class="text-danger error-msg">{{ 'shared.passwordPattern' | translate }}</div>
                <div *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.mustMatch"
                  class="text-danger error-msg">{{ 'shared.confirmPasswordSame' | translate }}</div>

              </div>
            </div>
          </div>

          <div *ngIf="error" class="text-danger mb-2 text-center">
            {{error}}
          </div>
          <div class="col-md-12">
            <div class="form-group text-center mb-0">
              <button type="submit" (click)="resetPassword()" class="btn btn-green">
                {{ 'shared.resetPassword' | translate }}</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>