@import "../../../../assets/css/core/variables/_colors.scss";

.reset-pass {
    padding: 2rem 3rem;
    width: 100%;
    .back_login {
        font-size: 1rem;
        color: hsl(0deg 0% 100% / 80%);
        .heading-green {
            &:hover {
                color: hsl(0deg 0% 100% / 80%);
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .reset-pass {
        padding: 1.5rem 1rem;
    }
}