<div class="container">
  <h1 class="section-head text-center my-4">{{ 'shared.changePassword' | translate }}</h1>
  <form [formGroup]="changePasswordForm">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <div class="background-primary change-pass br-10 mb-1">
          <p class="heading-secoundry mb-4">{{ 'shared.changePasswordText' | translate }}</p>
          <div class="col-md-12">
            <div class="form-group">
              <label class="lbl-input">{{ 'shared.oldPassword' | translate }}</label>
              <input name="password" [type]="showPassword ? 'text' : 'password'" class="form-control pwd-control"
                formControlName="oldPassword">
              <div class="btn-eye">
                <i alt="show" class="fa fa-eye eye-show" (click)="showPassword = !showPassword"
                  [class.hide]="showPassword"></i>
                <i alt="hide" class="fa fa-eye-slash eye-hide" (click)="showPassword = !showPassword"
                  [class.hide]="!showPassword"></i>
              </div>
              <div
                *ngIf="changePasswordForm.controls['oldPassword'].errors && (changePasswordForm.controls['oldPassword'].dirty || changePasswordForm.controls['oldPassword'].touched) || submitted">
                <div *ngIf="changePasswordForm.controls['oldPassword'].errors?.required" class="text-danger error-msg">
                  {{ 'shared.oldPasswordRequired' | translate }}</div>
                <div *ngIf="changePasswordForm.controls['oldPassword'].errors?.pattern" class="text-danger error-msg">
                  {{ 'shared.passwordPattern' | translate }} </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="lbl-input">{{ 'shared.newPassword' | translate }}</label>
              <input name="password" [type]="showNewPassword ? 'text' : 'password'" class="form-control pwd-control"
                formControlName="newPassword">
              <div class="btn-eye">
                <i alt="show" class="fa fa-eye eye-show" (click)="showNewPassword = !showNewPassword"
                  [class.hide]="showNewPassword"></i>
                <i alt="hide" class="fa fa-eye-slash eye-hide" (click)="showNewPassword = !showNewPassword"
                  [class.hide]="!showNewPassword"></i>
              </div>
              <div
                *ngIf="changePasswordForm.controls['newPassword'].errors && (changePasswordForm.controls['newPassword'].dirty || changePasswordForm.controls['newPassword'].touched) || submitted">
                <div *ngIf="changePasswordForm.controls['newPassword'].errors?.required" class="text-danger error-msg">
                  {{ 'shared.newPasswordRequired' | translate }}
                </div>
                <div *ngIf="changePasswordForm.controls['newpassword'].errors?.pattern" class="text-danger error-msg">
                  {{ 'shared.passwordPattern' | translate }}
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="error" class="text-danger mb-2 text-center">
            {{error}}
          </div>
          <div class="col-md-12">
            <div class="form-group text-center mb-0">
              <button type="submit" (click)="changePassword()" class="btn btn-green">{{'shared.changePassword' | translate }}
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>