<div class="container mb-5">
    <div class="row my-4 align-items-center header_withbtn">
      <h1 class="section-head mb-0 col-5 col-sm-6 col-md-7 col-lg-8"> {{ 'termsConditions.title' | translate }}</h1>
    </div>
    <div class="main-content-terms">
        <div class="sub-title sub-title1">
            <p class="heading-white f-18">{{ 'termsConditions.subTitle1' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.pDivide1' | translate }} ({{ 'termsConditions.pDivide2' | translate }} "<b>{{ 'termsConditions.pDivideBold1' | translate }}</b>") {{ 'termsConditions.pDivide3' | translate }} ({{ 'termsConditions.pDivide2' | translate }} "<b>{{ 'termsConditions.pDivideBold2' | translate }}</b>"){{ 'termsConditions.pDivide4' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p2' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p3' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p4' | translate }}</p>
        </div>
        <div class="sub-title sub-title2">
            <p class="heading-white f-18">{{ 'termsConditions.subTitle2' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p5' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p6' | translate }}</p>
        </div>
        <div class="sub-title sub-title3">
            <p class="heading-white f-18">{{ 'termsConditions.subTitle3' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p7' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p8' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p9' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p11' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p12' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p13' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p14' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p15' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p16' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p17' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p18' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p19' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p20' | translate }}</p>
        </div>
        <div class="sub-title sub-title4">
            <p class="heading-white f-18">{{ 'termsConditions.subTitle4' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p22' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p23' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p24' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p25' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p26' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p27' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p28' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p29' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p30' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p31' | translate }}</p>
        </div>
        <div class="sub-title sub-title5">
            <p class="heading-white f-18">{{ 'termsConditions.subTitle5' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p32' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p33' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p34' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p35' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p36' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p37' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p38' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p39' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p40' | translate }}</p>
            <ul>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p41' | translate }}</p></li>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p42' | translate }}</p></li>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p43' | translate }}</p></li>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p44' | translate }}</p></li>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p45' | translate }}</p></li>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p46' | translate }}</p></li>
            </ul>
            
            <p class="heading-secoundry f-16">{{ 'termsConditions.p47' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p48' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p49' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p50' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p51' | translate }}</p>
            <ul>
                <li class="li-bullet"><p class="heading-secoundry f-16">{{ 'termsConditions.li1' | translate }}</p></li>
                <li class="li-bullet"><p class="heading-secoundry f-16">{{ 'termsConditions.li2' | translate }}</p></li>
                <li class="li-bullet"><p class="heading-secoundry f-16">{{ 'termsConditions.li3' | translate }}</p></li>
                <li class="li-bullet"><p class="heading-secoundry f-16">{{ 'termsConditions.li4' | translate }}</p></li>
                <li class="li-bullet"><p class="heading-secoundry f-16">{{ 'termsConditions.li5' | translate }}</p></li>
                <li class="li-bullet"><p class="heading-secoundry f-16">{{ 'termsConditions.li6' | translate }}</p></li>
            </ul>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p52' | translate }}</p>
            <ul>
                <li class="li-bullet"><p class="heading-secoundry f-16">{{ 'termsConditions.li7' | translate }}</p></li>
                <li class="li-bullet"><p class="heading-secoundry f-16">{{ 'termsConditions.li8' | translate }}</p></li>
                <li class="li-bullet"><p class="heading-secoundry f-16">{{ 'termsConditions.li9' | translate }}</p></li>
                <li class="li-bullet"><p class="heading-secoundry f-16">{{ 'termsConditions.li10' | translate }}</p></li>
                <li class="li-bullet"><p class="heading-secoundry f-16">{{ 'termsConditions.li11' | translate }}</p></li>
                <li class="li-bullet"><p class="heading-secoundry f-16">{{ 'termsConditions.li12' | translate }}</p></li>
                <li class="li-bullet"><p class="heading-secoundry f-16">{{ 'termsConditions.li13' | translate }}</p></li>
            </ul>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p53' | translate }}</p>
        </div>
        <div> <p class="heading-white f-20">{{ 'termsConditions.title2' | translate }}</p></div>
        <div class="sub-title sub-title6">
            <p class="heading-white f-18">{{ 'termsConditions.subTitle6' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p54' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p55' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p56' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p57' | translate }}</p>
        </div>
        <div class="sub-title sub-title7">
            <p class="heading-white f-18">{{ 'termsConditions.subTitle7' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p58' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p59' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p60' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p61' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p62' | translate }}</p>
        </div>
        <div class="sub-title sub-title8">
            <p class="heading-white f-18">{{ 'termsConditions.subTitle8' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p63' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p64' | translate }}</p>
            <ul>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p65' | translate }}</p></li>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p66' | translate }}</p></li>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p67' | translate }}</p></li>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p68' | translate }}</p></li>
            </ul>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p69' | translate }}</p>
        </div>
        <div class="sub-title sub-title9">
            <p class="heading-white f-18">{{ 'termsConditions.subTitle9' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p70' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p71' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p72' | translate }}</p>
            <ul>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p73' | translate }}</p></li>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p74' | translate }}</p></li>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p75' | translate }}</p></li>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p76' | translate }}</p></li>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p77' | translate }}</p></li>
                <li class="li-num"><p class="heading-secoundry f-16">{{ 'termsConditions.p78' | translate }}</p></li>
            
            </ul>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p79' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p80' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p81' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p82' | translate }}</p>
        </div>
        <div class="sub-title sub-title10">
            <p class="heading-white f-18">{{ 'termsConditions.subTitle10' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p83' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p84' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p85' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p86' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p87' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p88' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p89' | translate }}</p>
        </div>
        <div class="sub-title sub-title11">
            <p class="heading-white f-18">{{ 'termsConditions.subTitle11' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p90' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p91' | translate }}</p>
        </div>
        <div class="sub-title sub-title12">
            <p class="heading-white f-18">{{ 'termsConditions.subTitle12' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p92' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p93' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p94' | translate }}</p>
            <p class="heading-secoundry f-16">{{ 'termsConditions.p95' | translate }}</p>
            <div class="policy">
                <p class="heading-secoundry f-16">{{ 'termsConditions.policy1' | translate }}</p>
                <p class="heading-secoundry f-16">{{ 'termsConditions.policyDiscription1' | translate }}</p>

                <p class="heading-secoundry f-16">{{ 'termsConditions.policy2' | translate }}</p>
                <p class="heading-secoundry f-16">{{ 'termsConditions.policyDiscription2' | translate }}</p>

                <p class="heading-secoundry f-16">{{ 'termsConditions.policy3' | translate }}</p>
                <p class="heading-secoundry f-16">{{ 'termsConditions.Discription1' | translate }}</p>
                <p class="heading-secoundry f-16">{{ 'termsConditions.Discription2' | translate }}</p>
                <p class="heading-secoundry f-16">{{ 'termsConditions.Discription3' | translate }}</p>
                <p class="heading-secoundry f-16">{{ 'termsConditions.Discription4' | translate }}</p>
                <p class="heading-secoundry f-16">{{ 'termsConditions.Discription5' | translate }}</p>

                <p class="heading-secoundry f-16">{{ 'termsConditions.policy4' | translate }}</p>
                <p class="heading-secoundry f-16">{{ 'termsConditions.Discription6' | translate }}</p>
                <p class="heading-secoundry f-16">{{ 'termsConditions.Discription7' | translate }}</p>
                <p class="heading-secoundry f-16">{{ 'termsConditions.Discription8' | translate }}</p>
            </div>
        </div>
    </div>
</div>