<div class="container">
  <h1 class="section-head text-center my-4">{{ 'shared.user' | translate }} {{ 'shared.signin' | translate}}</h1>
  <form [formGroup]="userLoginForm">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <div class="background-primary login-frm br-10 mb-1">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <a class="btn btn-primary w-100 py-3 registration_btn" (click)="doGoogleLogin()">
                  <img src="/assets/images/google.png" class="img-google"
                    alt="{{ 'shared.googleSignin' | translate }}" />
                  <span class="heading-white ms-2">&nbsp;{{ 'shared.googleSignin' | translate }}</span>
                </a>
              </div>
              <div class="col-md-12 mb-3 px-0">
                <h2 class="line f-16"><span>or</span></h2>
              </div>
              <div class="form-group">
                <label class="lbl-input">{{ 'shared.email' | translate }} <span
                    class="text-danger error-msg">*</span></label>
                <input type="text" formControlName="email" class="form-control">
                <div
                  *ngIf="userLoginForm.controls['email'].errors && (userLoginForm.controls['email'].dirty || userLoginForm.controls['email'].touched) || submitted">
                  <div *ngIf="userLoginForm.controls['email'].errors?.required" class="text-danger error-msg">{{
                                        'shared.emailRequired' | translate }}</div>
                  <div *ngIf="userLoginForm.controls['email'].value !== '' && userLoginForm.controls['email'].invalid"
                    class="text-danger error-msg">{{ 'shared.emailWrongFormat' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group mb-md-2">
                <label class="lbl-input">{{ 'shared.password' | translate }} <span
                    class="text-danger error-msg">*</span></label>
                <input name="password" maxlength="16" [type]="showPassword ? 'text' : 'password'"
                  class="form-control pwd-control" formControlName="password">
                <div class="btn-eye">
                  <i alt="show" class="fa fa-eye eye-show" (click)="showPassword = !showPassword"
                    [class.hide]="showPassword"></i>
                  <i alt="hide" class="fa fa-eye-slash eye-hide" (click)="showPassword = !showPassword"
                    [class.hide]="!showPassword"></i>
                </div>
                <div
                  *ngIf="userLoginForm.controls['password'].errors && (userLoginForm.controls['password'].dirty || userLoginForm.controls['password'].touched) || submitted">
                  <div *ngIf="userLoginForm.controls['password'].errors?.required" class="text-danger error-msg">{{
                                        'shared.passwordRequired' | translate }}</div>
                  <div *ngIf="userLoginForm.controls['password'].errors?.pattern" class="text-danger error-msg">{{
                                        'shared.passwordPattern' | translate }} </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-4">
              <div class="row">
                <div class="col">
                  <div class="form-check mb-0">
                    <input class="form-check-input" [checked]="isRememberChecked" (change)="rememberUser(value)" #value
                      type="checkbox" id="flexCheckDefault">
                    <label class="form-check-label pt-1" for="flexCheckDefault">
                      {{ 'shared.rememberMe' | translate }}
                    </label>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <a routerLink="../forgotpassword" class="forgot-password">{{'shared.forgotPassword'
                                        | translate }}</a>
                </div>
              </div>
            </div>
            <div *ngIf="error" class="text-danger mb-2 text-center">
              {{error}}
            </div>
            <div class="col-md-12">
              <div class="form-group text-center">
                <button type="submit" (click)="doLogin()" class="btn btn-green">{{ 'shared.signin' |
                                    translate }}</button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="back_login text-center mb-0">
                <span class="heading-secoundry">{{ 'shared.dontAccount' | translate }}</span>&nbsp;
                <a routerLink="../registration" class="heading-green">{{ 'shared.signup' | translate
                                    }}</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>

<div class="model-completed modal fade" [ngClass]="{'show': showModal == true}" id="task_modal" tabindex="-1"
  aria-labelledby="task_modalLabel" aria-hidden="true">
  <div class="modal-backdrop fade" [ngClass]="{'show': showModal == true}"></div>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close close without_head" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeModelAfterCompletedTask()"><span aria-hidden="true">×</span></button>
        <div class="text-center mb-4">
          <h1 class="section-head my-3">{{'emailConfirmation.yourEmaiLIsNotConfirmed' | translate}}</h1>
          <h6 class="heading-secoundry mb-4">{{'emailConfirmation.emailInfo' | translate}}</h6>
        </div>
        <div class="col-md-12 d-flex justify-content-center align-item-center">
          <button type="button" class="btn btn-outline-green" data-bs-dismiss="modal"
            (click)="sendConfirmationMail()">{{'emailConfirmation.getEmail' | translate}}</button>
          <button type="button" class="ms-3 btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeModelAfterCompletedTask()">{{'shared.close' | translate}}</button>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="model-completed modal fade" [ngClass]="{'show': showModelGoogle == true}" id="form_modal" tabindex="-1"
  aria-labelledby="task_modalLabel" aria-hidden="true">
  <div class="modal-backdrop fade" [ngClass]="{'show': showModelGoogle == true}"></div>

  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex justify-content-between w-100 p-2">
          <h5 class="heading-green without_title mb-0">{{ 'shared.update' | translate }} {{ 'shared.profile' | translate }}</h5>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="googleUserRegistrationForm" class="googleUserRegistrationForm">
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label class="lbl-input">{{ 'shared.firstName' | translate }} <span class="text-danger">*</span></label>
                <input type="text" maxlength="30" formControlName="firstName" class="form-control"
                  (keypress)="utilityService.onlyAlpha($event)">
                <div
                  *ngIf="googleUserRegistrationForm.controls['firstName'].errors && (googleUserRegistrationForm.controls['firstName'].dirty || googleUserRegistrationForm.controls['firstName'].touched) || googleUserSubmitted">
                  <div *ngIf="googleUserRegistrationForm.controls['firstName'].errors?.required" class="text-danger">
                    {{ 'shared.firstNameRequired' | translate }} </div>
                  <div *ngIf="googleUserRegistrationForm.controls['firstName'].errors?.minlength" class="text-danger">
                    {{ 'shared.firstNameMinLength' | translate }} </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="lbl-input">{{ 'shared.lastName' | translate }} <span class="text-danger">*</span></label>
                <input type="text" maxlength="30" formControlName="lastName" class="form-control"
                  (keypress)="utilityService.onlyAlphAndSpace($event)">
                <div
                  *ngIf="googleUserRegistrationForm.controls['lastName'].errors && (googleUserRegistrationForm.controls['lastName'].dirty || googleUserRegistrationForm.controls['lastName'].touched) || googleUserSubmitted">
                  <div *ngIf="googleUserRegistrationForm.controls['lastName'].errors?.required" class="text-danger">
                    {{ 'shared.lastNameRequired' | translate }}</div>
                  <div *ngIf="googleUserRegistrationForm.controls['lastName'].errors?.minlength" class="text-danger">
                    {{ 'shared.lastNameMinLength' | translate }}</div>
                  <div *ngIf="googleUserRegistrationForm.controls['lastName'].errors?.pattern" class="text-danger">
                      {{ 'user.enterValidLastName' | translate }}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group date-picker">
                <label class="lbl-input">{{ 'shared.dob' | translate }} <span class="text-danger">*</span></label>
                <ng2-flatpickr id="statistics-admin-date" formControlName="dob" [config]="googleDatePickerOptions">
                </ng2-flatpickr>
                <div
                  *ngIf="googleUserRegistrationForm.controls['dob'].errors && (googleUserRegistrationForm.controls['dob'].dirty || googleUserRegistrationForm.controls['dob'].touched) || googleUserSubmitted">
                  <div *ngIf="googleUserRegistrationForm.controls['dob'].errors?.required" class="text-danger">
                    {{ 'shared.dobRequired' | translate }}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="lbl-input">{{ 'shared.email' | translate }} <span class="text-danger">*</span></label>
                <input type="text" formControlName="email" class="form-control" readonly>
                <div
                  *ngIf="googleUserRegistrationForm.controls['email'].errors && (googleUserRegistrationForm.controls['email'].dirty || googleUserRegistrationForm.controls['email'].touched) || googleUserSubmitted">
                  <div *ngIf="googleUserRegistrationForm.controls['email'].errors?.required" class="text-danger">
                    {{ 'shared.emailRequired' | translate }}</div>
                  <div
                    *ngIf="googleUserRegistrationForm.controls['email'].value !== '' && googleUserRegistrationForm.controls['email'].invalid"
                    class="text-danger">{{ 'shared.emailWrongFormat' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row form-row">
                <div class="form-group col-5">
                  <label class="lbl-input">{{ 'shared.countryCode' | translate }} <span class="text-danger">*</span></label>
                  <angular2-multiselect *ngIf="countriesDialingCodes" [data]="countriesDialingCodes" [settings]="countriesDialingCodesSettings"
                    formControlName="selectedCountryDialingCode">
                  </angular2-multiselect>
                  <div
                    *ngIf="googleUserRegistrationForm.controls['selectedCountryDialingCode'].errors && (googleUserRegistrationForm.controls['selectedCountryDialingCode'].dirty || googleUserRegistrationForm.controls['selectedCountryDialingCode'].touched) || googleUserSubmitted">
                    <div *ngIf="googleUserRegistrationForm.controls['selectedCountryDialingCode'].errors?.required"
                      class="text-danger">
                      {{ 'shared.countryCodeRequired' | translate }} </div>
                  </div>
                </div>
                <div class="form-group col-7">
                  <label class="lbl-input">{{ 'shared.phoneNumber' | translate }}</label>
                  <input type="text" maxlength="15" formControlName="phone" class="form-control"
                    (keypress)="utilityService.phoneNumberValidation($event)" (keyup)="showVerifyButton()" [readonly]="phoneNumberVerfied">
                  <button class="btn btn-green btn-verify" [ngClass]="{'verified': phoneNumberVerfied }" *ngIf="showVerifyBtn" (click)="verifyPhone()"><span *ngIf="!phoneNumberVerfied">{{ 'shared.verify' | translate }}</span> <span *ngIf="phoneNumberVerfied">{{ 'shared.verified' | translate }}</span></button>
                  <div
                    *ngIf="googleUserRegistrationForm.controls['phone'].errors && (googleUserRegistrationForm.controls['phone'].dirty || googleUserRegistrationForm.controls['phone'].touched) || googleUserSubmitted">
                    <div *ngIf="googleUserRegistrationForm.controls['phone'].errors?.required" class="text-danger">
                      {{ 'shared.phoneNumberRequired' | translate }}</div>
                    <div *ngIf="googleUserRegistrationForm.controls['phone'].errors?.minlength" class="text-danger">
                      {{ 'shared.phoneMinLength' | translate }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="lbl-input">{{ 'shared.gender' | translate }} <span class="text-danger">*</span></label>
                <angular2-multiselect [data]="genderList" [settings]="genderSettings" formControlName="selectedGenders">
                </angular2-multiselect>
                <div
                  *ngIf="googleUserRegistrationForm.controls['selectedGenders'].errors && (googleUserRegistrationForm.controls['selectedGenders'].dirty || googleUserRegistrationForm.controls['selectedGenders'].touched) || submitted">
                  <div *ngIf="googleUserRegistrationForm.controls['selectedGenders'].errors?.required"
                    class="text-danger">{{ 'shared.genderRequired' | translate }}</div>
                </div>
                <div
                  *ngIf="googleUserRegistrationForm.controls['selectedGenders'].errors && (googleUserRegistrationForm.controls['selectedGenders'].dirty || googleUserRegistrationForm.controls['selectedGenders'].touched) || googleUserSubmitted">
                  <div *ngIf="googleUserRegistrationForm.controls['selectedGenders'].errors?.required"
                    class="text-danger">
                    {{ 'shared.genderRequired' | translate }}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="lbl-input">{{ 'shared.country' | translate }} <span class="text-danger">*</span></label>
                <angular2-multiselect *ngIf="countries" [data]="countries" [settings]="dropdownSettings"
                  (onSelect)="onChangeCountry($event)" formControlName="country">
                </angular2-multiselect>
                <div
                  *ngIf="googleUserRegistrationForm.controls['country'].errors && (googleUserRegistrationForm.controls['country'].dirty || googleUserRegistrationForm.controls['country'].touched) || googleUserSubmitted">
                  <div *ngIf="googleUserRegistrationForm.controls['country'].errors?.required" class="text-danger">
                    {{ 'shared.countryRequired' | translate }} </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row form-row">
                <div class="form-group col-12 col-md-6">
                  <label class="lbl-input">{{ 'shared.state' | translate }} <span class="text-danger">*</span></label>
                  <angular2-multiselect [data]="states" [settings]="dropdownSettings" formControlName="state">
                  </angular2-multiselect>
                  <div
                    *ngIf="googleUserRegistrationForm.controls['state'].errors && (googleUserRegistrationForm.controls['state'].dirty || googleUserRegistrationForm.controls['state'].touched) || googleUserSubmitted">
                    <div *ngIf="googleUserRegistrationForm.controls['state'].errors?.required" class="text-danger">
                      {{ 'shared.stateRequired' | translate }} </div>
                  </div>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label class="lbl-input">{{ 'shared.city' | translate }} <span class="text-danger">*</span></label>
                  <input type="text" formControlName="city" class="form-control">
                  <div
                    *ngIf="googleUserRegistrationForm.controls['city'].errors && (googleUserRegistrationForm.controls['city'].dirty || googleUserRegistrationForm.controls['city'].touched) || googleUserSubmitted">
                    <div *ngIf="googleUserRegistrationForm.controls['city'].errors?.required" class="text-danger">
                      {{ 'shared.cityRequired' | translate }}</div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="errorGoogleForm" class="text-danger mb-2 text-center">
              {{errorGoogleForm}}
            </div>
            <div class="col-md-12">
              <div class="form-group text-center">
                <button type="submit" (click)="updateGoogleUserProfile()"
                  class="btn btn-green">{{ 'shared.btnUpdate' | translate }} {{ 'shared.profile' | translate }}</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<app-confirm-mobile-verification  #confirmMobileVerificationComponent [phone_number]="phoneNumberOnly" [country_dialing_code]="countryCodeOnly" (parentFunction)="parentFunction($event)"></app-confirm-mobile-verification>